/* Notes:
 * - Droid Sans Google Font
 * - Droid Serif Google Font
 * - CSS Reset
 * - Autoprefixer / Bourbon
 * - jQuery
 */
/******************************
 *         Vars
 *****************************/
/******************************
 *         Mixins
 *****************************/
/******************************
 *         Layout
 *****************************/
/* -------------------------------- 
Primary style
-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::after, *::before {
  content: '';
}




/* -------------------------------- 
Main components 
-------------------------------- */

/* The Magic */
.slide-panel {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.slide-panel::after {
  /* overlay layer */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}
.slide-panel.is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.slide-panel.is-visible::after {
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
}
.slide-panel.is-visible .panel-close::before {
  -webkit-animation: panel-close-1 0.6s 0.3s;
  animation: panel-close-1 0.6s 0.3s;
}
.slide-panel.is-visible .panel-close::after {
  -webkit-animation: panel-close-2 0.6s 0.3s;
  animation: panel-close-2 0.6s 0.3s;
}

@-webkit-keyframes panel-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@keyframes panel-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes panel-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@keyframes panel-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.panel-header {
  position: absolute;
  width: 90%;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.panel-header h2 {
  font-weight: bold;
  color: #C1292E;
  padding-left: 5%;
}
.from-right .panel-header, .from-left .panel-header {
  top: -50px;
}
.from-right .panel-header {
  right: 0;
}
.from-left .panel-header {
  left: 0;
}
.is-visible .panel-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .panel-header {
    width: 100%;
  }
}
@media only screen and (min-width: 1170px) {
  .panel-header {
    width: 90%;
  }
}

/* The Close Button */
.panel-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  /* image replacement */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Mobile Defaults */
  /* Modernizr -- Browser */
}
.panel-close::before, .panel-close::after {
  /* close icon created in CSS */
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #1F7A8C;
  /* this fixes a bug where pseudo elements are slighty off position */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.panel-close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.panel-close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.no-touch .panel-close:hover {
  background-color: #1F7A8C;
}
.no-touch .panel-close:hover::before, .no-touch .panel-close:hover::after {
  background-color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.no-touch .panel-close:hover::before {
  -webkit-transform: rotate(220deg);
  transform: rotate(220deg);
}
.no-touch .panel-close:hover::after {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.panel-container {
  position: absolute;
  width: 90%;
  height: 100%;
  top: 0;
  background: #ffffff;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.from-right .panel-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.from-left .panel-container {
  left: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.is-visible .panel-container {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (min-width: 768px) {
  .panel-container {
    width: 100%;
  }
}
@media only screen and (min-width: 1170px) {
  .panel-container {
    width: 90%;
  }
}

.panel-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.panel-content p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #4D5057;
  line-height: 1.4;
  margin: 2em 0;
}
.panel-content p:first-of-type {
  margin-top: 0;
}
@media only screen and (min-width: 768px) {
  .panel-content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.6;
  }
}
