<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="styles/justified-nav.css" rel="stylesheet">

<div class="jumbotron">
	<h2><i class="glyphicon glyphicon-flash"></i> What is the ReproGenomics Viewer?</h2>
	The ReproGenomics Viewer (RGV) is a multi- and cross-species genomic toolbox for the visualization, mining and comparison of published omics data sets for the reproductive science community.
	It was developed to provide a one-stop genomic working environment and aims to assist scientists in the analysis and the mining of a wide range of high-throughput reprogenomics data, including RNA and DNA sequencing data.
	RGV allows hosting, visualization, and direct comparison of users’ data to published genomics studies as well as to relevant genetic variations linked to reproduction.
	The ReproGenomics Viewer currently hosts several landmark datasets that are oriented mainly towards testis development and functions from several model organisms.
	Data sets have been curated and conveniently organized into broad categories including biological topics, technologies, species and publications..
	As far as data comparison is concerned, a crucial point involves the direct implementation of several workflows for analysis of NGS data (e.g. RNA-seq, ChIP-seq).
	These standardized data analysis procedures within the reproductive science community greatly facilitate comparisons of data sets.
	<br>
	<br>
	<h2><i class="glyphicon glyphicon-cloud-upload"></i> Why should I submit my highthroughput data to the ReproGenomics Viewer?</h2>
	Considerable worries have recently been raised regarding the lack of reproducibility of biomedical research.
	Funding agencies, such as the National Institutes of Health (NIH), share this concern and discuss ways to enhance reproducibility by notably providing greater transparency of the data.
	Journals and public funding agencies have thus begun to make public availability of raw data but also analyzed data a condition of publication or funding, respectively.<br>
	In addition, we believe that it is also a matter of give and take, so to speak as making reprogenomics data available to the community:<br>
	1- it will facilitate data comparison and the development of innovative tools;<br>
	2- and, on the other hand, it will make your reprogenomics studies and publications more visible (as investigators will be able to compare their own data with yours) and it will thus boost citations of your scientific articles.
	<br>
	<br>
	<h2>Is the ReproGenomics Viewer intended to replace existing resources?</h2>
	Of course it isn't! RGV neither intends to archive raw data such as GEO, nor to replace existing reprogenomics resources.
	Instead, it aims at complementing them by acting as a distribution hub in which scientists can actively submit and share their highthroughput data with the community.
	<br>
	<br>
	<h2><i class="glyphicon glyphicon-wrench"></i> Future developments and perspectives</h2>
	In the near future we will extend the scope of the RGV to keep pace with rapid technological, bioinformatics/genomic and biological/clinical advances in the reproductive sciences.
	In concrete terms, we are currently planning four separate actions:<br>
	1- we will gather other relevant data sets froma wide range of species in RGV to cover other reproductive biological topics (e.g. ovary development and function, oogenesis, reproductive cancers and reproductive toxicology). In this context, we encourage data submission from colleagues.<br>
	2- we will be adding other genetic information related to reproductive disorders (such as GWAS and Quantitative trait loci information from diverse sources and diverse model organisms).<br>
	3- we will be enhancing the features and functionalities of RGV. In particular, we intend to embed a Gene-level data visualization and, more importantly, a module dedicated to the visualization of ultra-highthroughput data from the emerging field of single-cell genomics.<br>
	4- we plan to develop community tools that will greatly facilitate collaborative work and stimulate the emergence of novel forms of collaboration in our research field.<br>
</div>