<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="styles/justified-nav.css" rel="stylesheet">

<div class="jumbotron">
	<h2><i class="glyphicon glyphicon-indent-left"></i> Genome browser</h2>
	<h3>Current genomes</h3>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>Genome</th>
			<th>Release</th>
			<th>n° of studies</th>
			<th>n° of samples</th>
			<th>Download</th>
		</tr>
		<tr>
			<td>Homo sapiens</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38" target="_blanck">hg38</a></td>
			<td>0</td>
			<td>0</td>
			<td><a href="http://localhost/JBrowse-1.12.3/?data=sample_data%2Fjson%2Fhg38" target="_blank"><i class="glyphicon glyphicon-indent-left"></i></a></td>
		</tr>
		<tr>
			<td>Mus musculus</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=mm10" target="_blanck">mm10</a></td>
			<td>0</td>
			<td>0</td>
			<td><a href="http://localhost/JBrowse-1.12.3/?data=sample_data%2Fjson%2Fmm10" target="_blank"><i class="glyphicon glyphicon-indent-left"></i></a></td>
		</tr>
		<tr>
			<td>Rattus norvegicus</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=rn6" target="_blanck">rn6</a></td>
			<td>0</td>
			<td>0</td>
			<td><a href="http://localhost/JBrowse-1.12.3/?data=sample_data%2Fjson%2Frn6" target="_blank"><i class="glyphicon glyphicon-indent-left"></i></a></td>
		</tr>
		<tr>
			<td>Canis familiaris</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=rn6" target="_blanck">canFam3</a></td>
			<td>0</td>
			<td>0</td>
			<td><a href="http://localhost/JBrowse-1.12.3/?data=sample_data%2Fjson%2FcanFam3" target="_blank"><i class="glyphicon glyphicon-indent-left"></i></a></td>
		</tr>
		<tr>
			<td>Gallus gallus</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=galGal3" target="_blanck">galGal3</a></td>
			<td>0</td>
			<td>0</td>
			<td><a href="http://localhost/JBrowse-1.12.3/?data=sample_data%2Fjson%2FgalGal3" target="_blank"><i class="glyphicon glyphicon-indent-left"></i></a></td>
		</tr>
		<tr>
			<td>Danio rerio</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=danRer7" target="_blanck">danRer7</a></td>
			<td>0</td>
			<td>0</td>
			<td><a href="http://localhost/JBrowse-1.12.3/?data=sample_data%2Fjson%2FdanRer7" target="_blank"><i class="glyphicon glyphicon-indent-left"></i></a></td>
		</tr>
	</table>
</div>
