
<link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<div ng-if="msg" class="alert alert-danger">
    {{msg}}
</div>
<style type="text/css">
        #mynetwork {
            width: auto;
            height: 400px;
            border: 1px solid lightgray;
        }
</style>
<script type="text/ng-template" id="firstDialogId">
<div class="container" style="width: auto;">
  <div class="row">
    <h2>Errors</h2>
    <div ng-repeat="err in ngDialogData.error_p.Critical" class="alert alert-danger" role="alert">[Project] Critical - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_s.Critical" class="alert alert-danger" role="alert">[Study] Critical - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_a.Critical" class="alert alert-danger" role="alert">[Assay] Critical - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_f.Critical" class="alert alert-danger" role="alert">[Factor] Critical - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_sig.Critical" class="alert alert-danger" role="alert">[Signature] Critical - {{err}}</div>

    <div ng-repeat="err in ngDialogData.error_p.Warning" class="alert alert-warning" role="alert">[Project] Warning - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_s.Warning" class="alert alert-warning" role="alert">[Study] Warning - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_a.Warning" class="alert alert-warning" role="alert">[Assay] Warning - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_f.Warning" class="alert alert-warning" role="alert">[Factor] Warning - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_sig.Warning" class="alert alert-warning" role="alert">[Signature] Warning - {{err}}</div>

    <div ng-repeat="err in ngDialogData.error_p.Info" class="alert alert-info" role="alert">[Project] Info - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_s.Info" class="alert alert-info" role="alert">[Study] Info - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_a.Info" class="alert alert-info" role="alert">[Assay] Info - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_f.Info" class="alert alert-info" role="alert">[Factor] Info - {{err}}</div>
    <div ng-repeat="err in ngDialogData.error_sig.Info" class="alert alert-info" role="alert">[Signature] Info - {{err}}</div>
  </div>

  <div class="row">
    <h2>Other information</h2>
    <div class="alert alert-default" role="alert" style="width: auto;">>File upload at : {{ngDialogData.file}}</div>
   
  </div>
    
  <div ng-if="ngDialogData.critical != 0 " class="row">
    <h2>Some critical errors are detected !</h2>
    <p>Please modify the TOXsIgN template.</p>
    <button ng-click="closeThisDialog(0)" type="btn" class="btn btn-success btn-large pull right">Yes</button>
  </div>

  <div ng-if="ngDialogData.critical == 0 " class="row">
    <h2>No error or some minor errors are detected !</h2>
    <p>Would you want to modify the TOXsIgN template ?</p>
    <button ng-click="closeThisDialog(0)" type="btn" class="btn btn-success btn-large pull right">Yes</button>
    <button ng-click="upExcel(ngDialogData.file,ngDialogData.pid)" type="btn" class="btn btn-default btn-large">No</button>
  </div>

  
</div>
      
</script>

<script type="text/ng-template" id="checking">
  <div class="container" style="width: auto;">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      Checking excel template ...
    </div>
  </div>

</script>

<script type="text/ng-template" id="saving">
  <div class="container" style="width: auto;">
    <div class="progress-bar progress-bar-striped active" role="progressbar"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
      Updating ...
    </div>
  </div>

</script>



<h2>{{data.id}} - {{data.title}} <button ng-if="collection == 'signatures' && data.type == 'Genomic' && (data.file_down != '' || data.file_up != '')" ng-click="addToWorkspace(data.id)" type="btn" class="btn btn-success btn-large">Save in workspace</button></h2>
<div ng-if="data.owner == user.id && data.status == 'public'" class="alert alert-success" role="alert">This project is marked as public (accessible to everyone).</div>
<div ng-if="data.owner == user.id && data.status == 'pending approval'" class="alert alert-info" role="alert">This project is marked as pending approval (invisible to everyone and not modifiable by you).</div>
<div ng-if="data.owner == user.id && data.status == 'private' && collection=='projects'" class="alert alert-warning" role="alert">This project is marked as private (invisible to everyone but you). <span class="pull-right">(<a href="" ng-click="switch(data)">switch to public</a>)</span></div>
<div ng-if="data.owner == user.id && data.status == 'private' && collection !='projects'" class="alert alert-warning" role="alert">This project is marked as private (invisible to everyone but you). Go to the project page to switch to public.</div>

<div class="row">
	<div class="col-md-12">
		<div class="col-md-12">
			<div ng-if="collection == 'projects' || collection =='studies'" id='description' class='well'>
				<h5>Description</h5>
				<p>{{data.description}}</p>
			</div>
			<div ng-if="collection =='studies'" id='description' class='well'>
				<h5>Experimental design</h5>
				<p>{{data.experimental_design}}</p>
			</div>
			<div ng-if="collection =='studies'" id='description' class='well'>
				<h5>Results</h5>
				<p>{{data.results}}</p>
			</div>
			<div ng-if="collection =='assays' || collection =='signatures'" id='description' class='well'>
				<h5>Factors</h5>
				<table ng-repeat="fact in factors" class="table table-bordered table-hover table-striped">
					<tr>
			            <th>Factor type</th>
			            <th><span ng-if="fact.type == 'Chemical'">Chemical factor</span><span ng-if="fact.type == 'Physical'">Physical factor</span><span ng-if="fact.type == 'Biological'">Biological factor</span></th>
			            <th>Vehicle</th>
			            <th>Route</th>
			            <th>Dose</th>
			            <th>Exposure duration</th>
			            <th>Exposure frequencies</th>
			            <th>Additional information</th>
			        </tr>
			        <tr>
			            <td>{{fact.type}}</td>
			            <td><span ng-if="fact.type == 'Chemical'">{{fact.chemical}}</span><span ng-if="fact.type == 'Chemical' && fact.chemical_name != ''">{{fact.chemical_name}}</span><span ng-if="fact.type == 'Physical'">{{fact.physical}}</span><span ng-if="fact.type == 'Biological'">{{fact.biological}}</span></td>
			            <td>{{fact.vehicle}}</td>
			            <td>{{fact.route}}</td>
			            <td>{{fact.dose}}</td>
			            <td>{{fact.exposure_duration}}</td>
			            <td>{{fact.exposure_frequencies}}</td>
			            <td>{{fact.additional_information}}</td>
			        </tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<p ng-if="collection =='projects'"><b>Created : </b> {{convert_timestamp_to_date(data.submission_date)}}</p>
		<p ng-if="collection =='projects'"><b>Contributors : </b><span ng-repeat='contrib in data.contributor'>{{contrib}}, </span></p></p>
		<p ng-if="collection =='projects'"><b>Owner : </b> {{data.owner}}</p>
		<p ng-if="collection =='projects'"><b>Pubmed : </b><span ng-repeat='pub in data.pubmed'><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{pub}}"> {{pub}} </a>|</span></p>

		<p ng-if="collection =='studies'"><b>Owner : </b> {{data.owner}}</p>
		<p ng-if="collection =='studies'"><b>Associated project : </b><a href="" ng-click="display(data.projects)">{{info_project}}</a></p>
		<p ng-if="collection =='studies'"><b>Associated assays : </b><span ng-repeat='ass in data.assays'><a href="" ng-click="display(ass)">{{ass}} </a></span></p>
		<p ng-if="collection =='studies'"><b>Associated signature : </b><span ng-repeat='sig in data.signatures'><a href="" ng-click="display(sig)"> {{sig}} </a>|</span></p>

		<p ng-if="collection =='assays'"><b>Owner : </b> {{data.owner}}</p>
		<p ng-if="collection =='assays'"><b>Associated project : </b><a href="" ng-click="display(data.projects)">{{info_project}}</a></p>
		<p ng-if="collection =='assays'"><b>Associated studies : </b><a href="" ng-click="display(data.studies)">{{info_study}}  </a></p>
		<p ng-if="collection =='assays'"><b>Associated signature : </b><span ng-repeat='sig in data.signatures'><a href="" ng-click="display(sig)"> {{sig}} </a>|</span></p>

		<p ng-if="collection =='signatures'"><b>Owner : </b> {{data.owner}}</p>
		<p ng-if="collection =='signatures'"><b>Associated project : </b><a href="" ng-click="display(data.projects)">{{info_project}}</a></p>
		<p ng-if="collection =='signatures'"><b>Associated studies : </b><a href="" ng-click="display(data.studies)">{{info_study}}  </a></p>
		<p ng-if="collection =='signatures'"><b>Associated assays : </b><span ng-repeat='ass in data.assays'><a href="" ng-click="display(ass)"> {{ass}} </a>|</span></p>


		<p><b>Last update : </b> {{convert_timestamp_to_date(data.last_update)}}</p>
	</div>
	<div class="col-md-6">
		<p ng-if="collection =='studies'"><b>Study type : </b> {{data.study_type}}</p>
		<p ng-if="collection =='studies' && data.study_type == 'observational'"><b>Inclusion period : </b> {{data.inclusion_period}}</p>
		<p ng-if="collection =='studies' && data.study_type == 'observational'"><b>Inclusion : </b> {{data.inclusion}}</p>
		<p ng-if="collection =='studies' && data.study_type == 'observational'"><b>Follow up : </b> {{data.follow_up}}</p>
		<p ng-if="collection =='studies' && data.study_type == 'observational'"><b>Adjustment : </b> {{data.adjustment}}</p>
		<p ng-if="collection =='studies' && data.study_type == 'observational'"><b>Pubmed : </b> {{data.pubmed}}</p>

		<p ng-if="collection =='assays' && data.organism_name !='' && data.organism_name !=undefined" ><b>Organism name : </b> {{data.organism_name}}</p>
		<p ng-if="collection =='assays' && data.organism !=''"><b>Organism (ontological term) : </b> {{data.organism}}</p>
		<p ng-if="collection =='assays' && data.experimental_type != ''"><b>Experimental type : </b> {{data.experimental_type}}</p>
		<p ng-if="collection =='assays'"><b>Developmental stage : </b> {{data.developmental_stage}}</p>
		<p ng-if="collection =='assays'"><b>Generation : </b> {{data.generation}}</p>
		<p ng-if="collection =='assays'"><b>Sex : </b> {{data.sex}}</p>

		<p ng-if="collection =='signatures'"><b>Signature type : </b> {{data.type}}</p>
		<p ng-if="collection =='signatures'"><b>Organism (ontological term) : </b> {{data.organism}}</p>
		<p ng-if="collection =='signatures' && data.organism_name !='' && data.organism_name !=undefined"><b>Organism : </b> {{data.organism_name}}</p>
		<p ng-if="collection =='signatures'"><b>Developmental stage : </b> {{data.developmental_stage}}</p>
		<p ng-if="collection =='signatures'"><b>Generation : </b> {{data.generation}}</p>
		<p ng-if="collection =='signatures'"><b>Sex : </b> {{data.sex}}</p>				
	</div>
	<div ng-if="collection =='assays' || collection=='signatures'" class="col-md-6">
		<p ng-if="collection =='assays' && data.tissue != ''"><b>Tissue (ontological term) : </b> {{data.tissue}}</p>
		<p ng-if="collection =='assays' && data.tissue_name != '' && data.tissue_name !=undefined"><b>Tissue : </b> {{data.tissue_name}}</p>
		<p ng-if="collection =='assays' && data.cell != ''"><b>Cell (ontological term) : </b> {{data.cell}}</p>
		<p ng-if="collection =='assays' && data.cell_name != '' && data.cell_name !=undefined"><b>Cell : </b> {{data.cell_name}}</p>
		<p ng-if="collection =='assays' && data.cell_line != ''"><b>Cell Line (ontological term) : </b> {{data.cell_line}}</p>
		<p ng-if="collection =='assays' && data.cell_line_name != '' && data.cell_line_name !=undefined"><b>Cell Line : </b> {{data.cell_line_name}}</p>

		<p ng-if="collection =='signatures' && data.tissue != ''"><b>Tissue (ontological term) : </b> {{data.tissue}}</p>
		<p ng-if="collection =='signatures' && data.tissue_name != '' && data.tissue_name !=undefined"><b>Tissue : </b> {{data.tissue_name}}</p>
		<p ng-if="collection =='signatures' && data.cell != ''"><b>Cell (ontological term) : </b> {{data.cell}}</p>
		<p ng-if="collection =='signatures' && data.cell_name != '' && data.cell_name !=undefined"><b>Cell : </b> {{data.cell_name}}</p>
		<p ng-if="collection =='signatures' && data.cell_line != ''"><b>Cell line (ontological term) : </b> {{data.cell_line}}</p>
		<p ng-if="collection =='signatures' && data.cell_line_name != '' && data.cell_line_name !=undefined"><b>Cell line : </b> {{data.cell_line_name}}</p>			
	</div>
	<div ng-if="collection =='assays'" class="col-md-4">
		<p ng-if="collection =='assays' && data.pop_age != ''"><b>Population Age : </b> {{data.pop_age}}</p>
		<p ng-if="collection =='assays' && data.location != ''"><b>Geographical location : </b> {{data.location}}</p>
		<p ng-if="collection =='assays' && data.reference != ''"><b>Reference : </b> {{data.reference}}</p>
		<p ng-if="collection =='assays' && data.matrice != ''"><b>Matrice : </b> {{data.matrice}}</p>	
	</div>
</div>
<div ng-if="collection =='assays' && data.additional_information != ''" class="col-md-12 well">
	<h5>Additional information</h5>
	<p>{{data.additional_information}}</p>
</div>

<div class="row">
	<div ng-if="collection =='signatures'" class="col-md-12">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        {{data.type}} signature information
		    </div>
		    <div class="panel-body">
		    	<p ng-if="collection =='signatures' && data.molecule != ''"><b>Moleculed observed (ontological term) : </b> {{data.molecule}}</p>
		    	<p ng-if="collection =='signatures' && data.molecule_name != ''  && data.molecule_name !=undefined"><b>Moleculed observed : </b> {{data.molecule_name}}</p>
				<p ng-if="collection =='signatures' && data.pathology != ''"><b>Associated phenotype, diseases processes or pathway : </b> {{data.pathology}}</p>
				<p ng-if="collection =='signatures' && data.description != '' && data.description !=undefined"><b>Description associated phenotype, diseases processes or pathway (ontological term) : </b> {{data.description}}</p>
				<p ng-if="collection =='signatures' && data.technology != ''"><b>Technology used (ontological term): </b> {{data.technology}}</p>
				<p ng-if="collection =='signatures' && data.technology_name != '' && data.technology_name !=undefined"><b>Technology used : </b> {{data.technology_name}}</p>
				<p ng-if="collection =='signatures' && data.plateform != ''"><b>Plateform : </b> {{data.plateform}}</p>
				<p ng-if="collection =='signatures' && data.observed_effect != ''"><b>Observed effect : </b> {{data.observed_effect}}</p>	
		    </div>
		</div>
	</div>
	<div ng-if="collection =='signatures'" class="col-md-12">
		<div class="panel panel-default">
		    <div class="panel-heading">
		        Statistical information
		    </div>
		    <div class="panel-body">
		    	<p ng-if="collection =='signatures' && data.satistical_processing != ''"><b>Statistical processing : </b> {{data.statistical_processing}}</p>
				<p ng-if="collection =='signatures' && data.control_sample != ''"><b>Control sample: </b> {{data.control_sample}}</p>
				<p ng-if="collection =='signatures' && data.treated_sample != ''"><b>Treated sample : </b> {{data.treated_sample}}</p>
				<p ng-if="collection =='signatures' && data.pvalue != ''"><b>pvalue : </b> {{data.pvalue}}</p>
				<p ng-if="collection =='signatures' && data.cutoff != ''"><b>Cutoff : </b> {{data.cutoff}}</p>
				<p ng-if="collection =='signatures' && data.controle != '' && data.controle !=undefined"><b>Control / unexposed (n=) : </b> {{data.controle}}</p>	
				<p ng-if="collection =='signatures' && data.case != '' && data.case !=undefined"><b>Case / exposed (n=) : </b> {{data.case}}</p>	
				<p ng-if="collection =='signatures' && data.significance != '' && data.significance !=undefined"><b>Statistical significance : </b> {{data.significance}}</p>	
				<p ng-if="collection =='signatures' && data.stat_val != '' && data.stat_val !=undefined"><b>Statistical value : </b> {{data.stat_val}}</p>
				<p ng-if="collection =='signatures' && data.stat_adjust != '' && data.stat_adjust !=undefined"><b>Statistical adjustments : </b> {{data.stat_adjust}}</p>
				<p ng-if="collection =='signatures' && data.stat_other != '' && data.stat_other !=undefined"><b>Other satistical information : </b> {{data.stat_other}}</p>
				<p ng-if="collection =='signatures' && data.group != '' && data.group != undefined"><b>Group : </b> {{data.group}}</p>
				<p ng-if="collection =='signatures' && data.pop_age != '' && data.pop_age != undefined"><b>Population age : </b> {{data.pop_age}}</p>		
		    </div>
		</div>
	</div>
</div>
<p ng-if="collection == 'projects'"><b>Selected information : </b><span id="information"></span>     <span id="viewinfo" style="display: none;">(<a href="" ng-click="showInfo()">view</a>)</span></p>
<div id="mynetwork"></div>





<div class="row" style="margin-top: 10px;">
    <div class="col-md-12 well" style="text-align: center;">
        <h3>Downloads</h3>
        <p ng-if="collection == 'projects'"><a href="" ng-href="/signature/{{data.id}}/none/project_{{data.id}}_info/download?token={{token}}" target="_blank">Download project information</a></p>
        <p ng-if="collection == 'studies'"><a href="" ng-href="/signature/{{data.id}}/none/study_{{data.id}}_info/download?token={{token}}" target="_blank">Download study information</a></p>
        <p ng-if="collection == 'assays'"><a href="" ng-href="/signature/{{data.id}}/none/assay_{{data.id}}_info/download?token={{token}}" target="_blank">Download assay information</a></p>
        <p ng-if="collection == 'signatures'"><a href="" ng-href="/signature/{{data.id}}/none/signature_{{data.id}}_info/download?token={{token}}" target="_blank">Download signature information</a></p>
        <p ng-if="collection =='signatures' && data.additional_file != ''"><b>Additional file(s) : </b> <span ng-repeat="file in data.additional_file.split()"><a ng-href="/signature/{{data.projects}}/{{data.id}}/{{file}}/download?token={{token}}" target="_blank"> {{file}}</a></span></p>
		<p ng-if="collection =='signatures' && data.file_up != '' && data.genes_up != ''"><b>Up-regulated genes file : </b><a ng-href="/signature/{{data.projects}}/{{data.id}}/{{data.file_up}}/download?token={{token}}" target="_blank"> {{data.file_up}}</a></p>
		<p ng-if="collection =='signatures' && data.file_down != '' && data.genes_down != ''"><b>Down-regulated genes file : </b> <a ng-href="/signature/{{data.projects}}/{{data.id}}/{{data.file_down}}/download?token={{token}}" target="_blank"> {{data.file_down}}</a></p>
		<p ng-if="collection =='signatures' && data.file_interogated != ''"><b>Interogated genes file : </b> <a ng-href="/signature/{{data.projects}}/{{data.id}}/{{data.file_interrogated}}/download?token={{token}}" target="_blank">{{data.file_interrogated}}</a></p>	
        <p><a ng-if="collection == 'projects'" ng-href="/dataset/{{data.id}}/download?token={{token}}" target="_blank">Download entire project information (project, studies, assays, signatures)</a></p>
        <p><a ng-if="collection != 'projects'" ng-href="/dataset/{{data.projects}}/download?token={{token}}" target="_blank">Download entire project information (project, studies, assays, signatures)</a></p>
    </div>
</div>

<div ng-if="data.status =='private' && data.owner == user.id" class="row">
	<div class="panel panel-success">
	    <div class="panel-heading">
	        Administration panel
	    </div>
	    <div class="panel-body">
	    	<div  ng-if="collection == 'signatures'" class="col-md-12 well">
				<h3 id="author_name">Upload files</h3>
				<p><a href="" ngf-select="file_upload($file,'additional_file')">Upload additional information file</a></p>
				<p ng-if="data.type == 'Genomic'"><a href="" ngf-select="file_upload($file,'file_up')">Upload up-regulated genes file</a></p>
				<p ng-if="data.type == 'Genomic'"><a href="" ngf-select="file_upload($file,'file_down')">Upload down-regulated genes file</a></p>
				<p ng-if="data.type == 'Genomic'"><a href="" ngf-select="file_upload($file,'file_interrogated')">Upload interogated genes file</a></p>
			</div>
			<div ng-if="data.owner == user.id && data.status == 'private'" class="row">
				<h2>Update</h2>
				<p>To update / add studies, assay or signature to the project, please download first the project excel file. Then use the update button to update your project in your project page</p>
				<button ng-if="data.owner == user.id && collection == 'projects'" ngf-select="signature_upload($file,data.id)" type="btn" class="btn btn-success btn-large">Update project</button>
			</div>
			<div ng-if="data.owner == user.id && data.status == 'private'" class="row">
				<h3>Errors</h3>
				<div ng-if="data.critical != ''" ng-repeat="err in data.critical" class="alert alert-danger" role="alert">{{err}}</div>
				<div ng-if="data.warnings != ''" ng-repeat="err in data.warnings" class="alert alert-warning" role="alert">{{err}}</div>
				<div ng-if="data.info != ''" ng-repeat="err in data.info" class="alert alert-info" role="alert">{{err}}</div>
				
			</div>
	    </div>
	</div>
</div>






