<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="styles/justified-nav.css" rel="stylesheet">

<div class="jumbotron">
	<h2><i class="fa fa-pencile-o"></i> Citing the ReproGenomics Viewer</h2>
	<h3>If you use this resource please cite :<br></h3>
	<h4>
		Darde TA, Sallou O, Becker E, Evrard B, Monjeaud C, Le Bras Y, Jégou B, Collin O, Rolland AD, Chalmel F. <b>The ReproGenomics Viewer</b>: an integrative cross-species toolbox for the reproductive science community.<br><b>Nucleic Acids Res</b>. 2015 Jul 1;43(W1):W109-16.<br>
		PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/25883147" target="_blank">PMID:25883147</a>.
	</h4>
</div>
