<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script>
	ga('send', 'pageview', '/citing.html');
</script>
<div class="jumbotron" style="margin-top:50px;text-align:center;">
	<h2><i class="fas fa-edi" aria-hidden="true"></i> Citing the ReproGenomics Viewer</h2>
	<h3>If you use this resource please cite :<br></h3>
	<p>Darde TA, Sallou O, Becker E, Evrard B, Monjeaud C, Le Bras Y, Jégou B, Collin O, Rolland AD, Chalmel F. <b>The ReproGenomics Viewer</b>: an integrative cross-species toolbox for the reproductive science community. <b>Nucleic Acids Res</b>. 2015 Jul 1;43(W1):W109-16.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/25883147" target="_blank">PMID:25883147</a>.</p>
</div>

<div>
	<h3 style="text-align:center;">The Reprogenomics Viewer has been cited by:<br></h3>
	<ul>
	<li>Jégou B, Sankararaman S, Rolland AD, Reich D, Chalmel F. Meiotic Genes Are Enriched in Regions of Reduced Archaic Ancestry. <b>Mol Biol Evol</b>. 2017 Aug 1;34(8):1974-1980.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/28444387" target="_blank">PMID:28444387</a>.<br></li>
	<li>Becker E, Com E, Lavigne R, Guilleux MH, Evrard B, Pineau C, Primig M. The protein expression landscape of mitosis and meiosis in diploid budding yeast. <b>J Proteomics</b>. 2017 Mar 6;156:5-19.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/28057603" target="_blank">PMID:28057603</a>.<br></li>
	<li>Xie B, Horecka J, Chu A, Davis RW, Becker E, Primig M. Ndt80 activates the meiotic ORC1 transcript isoform and SMA2 via a bi-directional middle sporulation element in Saccharomyces cerevisiae. <b>RNA Biol</b>. 2016 Sep;13(9):772-82. 0/15476286.2016.1191738. Epub 2016 Jun 30.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/27362276" target="_blank">PMID:27362276</a>.<br></li>
	<li>Borowiec AS, Sion B, Chalmel F, D Rolland A, Lemonnier L, De Clerck T, Bokhobza A, Derouiche S, Dewailly E, Slomianny C, Mauduit C, Benahmed M, Roudbaraki M, Jégou B, Prevarskaya N, Bidaux G. Cold/menthol TRPM8 receptors initiate the cold-shock response and protect germ cells from cold-shock-induced oxidation. <b>FASEB J</b>. 2016 Sep;30(9):3155-70.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/27317670" target="_blank">PMID:27317670</a>.<br></li>
	<li>Chalmel F, Rolland AD. Linking transcriptomics and proteomics in spermatogenesis. <b>Reproduction</b>. 2015 Nov;150(5):R149-57.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/26416010" target="_blank">PMID:26416010</a>.<br></li>
	<li>Stuparevic I, Becker E, Law MJ, Primig M. The histone deacetylase Rpd3/Sin3/Ume6 complex represses an acetate-inducible isoform of VTH2 in fermenting budding yeast cells. <b>FEBS Lett</b>. 2015 Apr 2;589(8):924-32.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/25728275" target="_blank">PMID:25728275</a>.<br></li>
	<li>Zimmermann C, Stévant I, Borel C, Conne B, Pitetti JL, Calvel P, Kaessmann H, Jégou B, Chalmel F, Nef S. Research resource: the dynamic transcriptional profile of sertoli cells during the progression of spermatogenesis. <b>Mol Endocrinol</b>. 2015 Apr;29(4):627-42.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/25710594" target="_blank">PMID:25710594</a>.<br></li>
	<li>Chocu S, Evrard B, Lavigne R, Rolland AD, Aubry F, Jégou B, Chalmel F, Pineau C. Forty-four novel protein-coding loci discovered using a proteomics informed by transcriptomics (PIT) approach in rat male germ cells. <b>Biol Reprod</b>. 2014 Nov;91(5):123.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/25210130" target="_blank">PMID:25210130</a>.<br></li>
	<li>Chalmel F, Lardenois A, Evrard B, Rolland AD, Sallou O, Dumargne MC, Coiffec I, Collin O, Primig M, Jégou B. High-resolution profiling of novel transcribed regions during rat spermatogenesis. Biol Reprod. 2014 Jul;91(1):5.
	PubMed <a href="https://www.ncbi.nlm.nih.gov/pubmed/24740603" target="_blank">PMID:24740603</a>.<br></li>
	</ul>
</div>
