<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="styles/card.css" rel="stylesheet">

<div class="jumbotron" style="margin-top:50px;text-align:center;">
	<h2><i class="glyphicon glyphicon-envelope"></i> Contact us</h2>
</div>

<div class="row">
	<div class="col-md-1">
	    <!-- Vide -->
	</div>

	<div class="col-md-4">
	    <div class="card hovercard">
	        <div class="cardheader-irset">

	        </div>
	        <div class="avatar">
	            <img alt="" src="images/frederic-chalmel.jpeg">
	        </div>
	        <div class="info">
	            <div class="title">
	                Frédéric Chalmel
	            </div>
	            <div class="desc">Physiogenomics and toxicogenomics of the urogenital tract</div>
							<div class="desc">Physiogenomics and toxicogenomics of the urogenital tract</div>
	            <div class="desc">Inserm U1085-Irset</div>
	            <div class="desc">9, avenue du Pr Léon Bernard</div>
							<div class="desc">35000 Rennes</div>
							<div class="desc">France</div>
							<div class="desc">+33 (0)2 23 23 58 02</div>
	        </div>
	        <div class="bottom" id="fredmail">
	        </div>
	    </div>
	</div>

	<div class="col-md-2">
	    <!-- Vide -->
	</div>

	<div class="col-md-4">
	    <div class="card hovercard">
	        <div class="cardheader-go">

	        </div>
	        <div class="avatar">
	            <img alt="" src="images/collin.jpg">
	        </div>
	        <div class="info">
	            <div class="title">
	                Olivier Collin
	            </div>
	            <div class="desc">GenOuest bioinformatics facility</div>
	            <div class="desc">IRISA-INRIA</div>
	            <div class="desc">Campus de Beaulieu</div>
							<div class="desc">263 avenue du Général Leclerc</div>
							<div class="desc">35042 Rennes cedex</div>
							<div class="desc">France</div>
							<div class="desc">+33 (0)2 99 84 72 78</div>
	        </div>
	        <div class="bottom" id="oliviermail">
	        </div>
	    </div>
	</div>

	<div class="col-md-1">
	    <!-- Vide -->
	</div>
</div>

<!-- Footer -->
<div class="row">
		<!--/*div espace bas de page, footer*/-->

		<div class="col-md-3" style="height: 305px">
			<!--/*div gauche*/-->
		</div>
</div>
