<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="styles/justified-nav.css" rel="stylesheet">

<div class="jumbotron">
	<h2><i class="fa fa-envelope-o"></i> Contact us</h2>
	<div class="row">
		<div class="col-md-6">
			<h3>Frédéric Chalmel</h3><br>
			<h4>Physiogenomics and toxicogenomics of the urogenital tract</h4><br>
			Physiology and physiopathology of the urogenital tract<br>
			Inserm U1085-Irset<br>
			9, avenue du Pr Léon Bernard<br>
			35000 Rennes<br>
			France<br>
			Phone: +33 (0)2 23 23 58 02<br>
			Fax: +33 (0)2 23 23 50 55<br>
			Mail: frederic.chalmel[at]inserm.fr<br>
		</div>
		<div class="col-md-6">
			<h3>Olivier Collin</h3><br>
			<h4>GenOuest bioinformatics facility</h4><br>
			IRISA-INRIA<br>
			Campus de Beaulieu<br>
			263 avenue du Général Leclerc<br>
			35042 Rennes cedex<br>
			France<br>
			Phone: +33 (0)2 99 84 72 78<br>
			Fax: +33 (0)2 99 84 71 71<br>
			Mail: support[at]genouest.org<br>
		</div>
	</div>
</div>