<h2>Convert identifiers</h2>

<div class="well">
  The TOXsIgN conversion tool convert a list of EntrezGene Ids or HomoloGene Ids to HomoloGene Ids or EntrezGene Ids.
  <br /><br />
  <b>How to perform enrichment</b><br><br>
  <b><i>Input data</i></b>: Select the signature or the file (on your workspace or upload it)<br>
  <b><i>Parameters</i></b>: Select the species (21 species available)<br>
  <b><i>Output data</i></b>: Table with EntrezGene Id, HomoloGene Id, gene name, taxonomy Id.<br>
  <b><i>Save data</i></b>: Use the "Save HomoleGene" button to save the HomoloGene list or use the "Save EntrezGene" button to save the EntrezGene list.
</div>

<h4>Select conversion</h4>
<div id="Select" class="panel-collapse collapse in">
    <div class="panel-body" id="paneltable">
        <select ng-model="way" class="form-control" id="convert_way">
          <option value="" disabled selected>Please select</option>
          <option value="HomoToEntrez">HomoloGene --> EntrezGene</option>
          <option value="EntrezToHomo">EntrezGene --> HomoloGene</option>
          <option value="RH" disabled>Refseq --> HomoloGene (coming soon)</option>
          <option value="HR" disabled>HomoloGene --> Refseq (coming soon)</option>
          <option value="VH" disabled>Vega Gene ID --> HomoloGene (coming soon)</option>
          <option value="HV" disabled>HomoloGene --> Vega Gene ID (coming soon)</option>
          <option value="UH" disabled>Uniprot ID --> HomoloGene (coming soon)</option>
          <option value="HU" disabled>HomoloGene --> Uniprot ID (coming soon)</option>
        </select>
    </div>
</div>

<h4>Select your species</h4>
<div id="species" class="panel-collapse collapse in">
    <div class="panel-body" id="paneltable">
        <select ng-model="species" class="form-control" id="convert_species">
              <option value="" disabled selected>Please select</option>
              <option value="9606">Human (Homo sapiens)</option>
              <option value="9598">Chimpanzee (Pan troglodytes)</option>
              <option value="9544">Rhesus monkey (Macaca mulatta)</option>
              <option value="9615">Dog (Canis lupus familiaris)</option>
              <option value="9913">Cow (Bos taurus)</option>
              <option value="10090">Mouse (Mus musculus)</option>
              <option value="10116">Rat (Rattus norvegicus)</option>
              <option value="9031">Chicken (Gallus gallus)</option>
              <option value="8364">Western clawed frog (Xenopus tropicalis)</option>
              <option value="7955">Zebrafish (Danio rerio)</option>
              <option value="7227">Fruit fly (Drosophila melanogaster)</option>
              <option value="7165">Malaria mosquito (Anopheles gambiae)</option>
              <option value="6239">Nematode (Caenorhabditis elegans)</option>
              <option value="4932">Budding yeast (Saccharomyces cerevisiae)</option>
              <option value="28985">Ascomycetes (Kluyveromyces lactis)</option>
              <option value="33169">Ascomycetes (Eremothecium gossypii)</option>
              <option value="4896">Fission yeast (Schizosaccharomyces pombe)</option>
              <option value="318829">Rice blast fungus (Magnaporthe oryzae)</option>
              <option value="5141">Ascomycetes (Neurospora crassa)</option>
              <option value="3702">Thale cress (Arabidopsis thaliana)</option>
              <option value="4530">Rice (Oryza sativa)</option>
        </select>
    </div>
</div>

<h4>Selected signatures</h4>
<label ng-repeat="sign in signatures" ng-if="sign.genes_down != undefined && sign.genes_down.length > 0 ">
    <input type="checkbox" name="listobj[]" value="{{sign.id}}" ng-checked="listobj.indexOf(sign.id+'-down') > -1" ng-click="toggleSelection2(sign.genes_down)"> {{sign.id}} - Down genes - {{sign.title}}    <a href="" ng-click="deleted(sign.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
</label>
<label ng-repeat="sign in signatures" ng-if="sign.genes_up != undefined && sign.genes_up.length > 0 ">
    <input type="checkbox" name="listobj[]" value="{{sign.id}}" ng-checked="listobj.indexOf(sign.id+'-up') > -1" ng-click="toggleSelection2(sign.genes_up)"> {{sign.id}} - Up genes - {{sign.title}}    <a href="" ng-click="deleted(sign.id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
</label>

             
<div id="List" class="panel-collapse collapse in">
    <div class="panel-body" id="paneltable">
        <textarea ng-model="listID" class="form-control" id="ec"/>
        <button class="btn btn-primary pull-right" ng-if="listID !='' && species != 0 && way != '' " ng-click="convert(listID)" style="margin-bottom:20px;margin-top:20px;">Convert</button>
    </div>
</div>

<div class="row" ng-if="result !=  ''" >
  <div class="col-md-12">
    <div class="panel panel-success">
        <div class="panel-heading">
                <a data-toggle="collapse" data-parent="#accordion" href="#Result" target="_self" class="collapsed" style="text-decoration: none; color:black;">Result<span class="pull-right"></span></a>
        </div>
        <div id="Result" class="panel-collapse collapse in">
            <div class="panel-body" id="paneltable">
                <table class="table table-bordered table-hover table-striped">
                  <tr>
                    <th>Homologene ID</th>
                      <th>EntrezGene ID</th>
                      <th>Gene Symbol</th>
                      <th>Toxonomy ID</th>
                  </tr>
                  <tr ng-repeat="val in result">
                      <td>{{val.HID}}</td>
                      <td>{{val.Gene_ID}}</td>
                      <td>{{val.Gene_Symbol}}</td>
                      <td>{{val.Taxonomy_ID}}</td>
                  </tr>
              </table>
            </div>
        </div>
      </div>
  </div>
</div>