<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="styles/justified-nav.css" rel="stylesheet">

<div class="jumbotron">
	<h2><i class="glyphicon glyphicon-download-alt"></i> Download</h2>
	<h3>Source code</h3>
	The source code of the RGV web application is available on <a href="https://github.com/fchalmel/RGV" target="_blanck">GitHub</a>.
	<br>
	<br>
	<h3>Current genome annotation</h3>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>Genome</th>
			<th>Release</th>
			<th>Last update (AAAA/MM/DD)</th>
			<th>Download</th>
		</tr>
		<tr>
			<td>Homo sapiens</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=hg38" target="_blanck">hg38</a></td>
			<td>AAAA/MM/DD</td>
			<td><a ng-href="/link_to_the_file">GTF</a>, <a ng-href="/link_to_the_file">GFF</a></td>
		</tr>
		<tr>
			<td>Mus musculus</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=mm10" target="_blanck">mm10</a></td>
			<td>AAAA/MM/DD</td>
			<td><<a ng-href="/link_to_the_file">GTF</a>, <a ng-href="/link_to_the_file">GFF</a></td>
		</tr>
		<tr>
			<td>Rattus norvegicus</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=rn6" target="_blanck">rn6</a></td>
			<td>AAAA/MM/DD</td>
			<td><a ng-href="/link_to_the_file">GTF</a>, <a ng-href="/link_to_the_file">GFF</a></td>
		</tr>
		<tr>
			<td>Canis familiaris</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=rn6" target="_blanck">canFam3</a></td>
			<td>AAAA/MM/DD</td>
			<td><a ng-href="/link_to_the_file">GTF</a>, <a ng-href="/link_to_the_file">GFF</a></td>
		</tr>
		<tr>
			<td>Gallus gallus</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=galGal3" target="_blanck">galGal3</a></td>
			<td>AAAA/MM/DD</td>
			<td><a ng-href="/link_to_the_file">GTF</a>, <a ng-href="/link_to_the_file">GFF</a></td>
		</tr>
		<tr>
			<td>Danio rerio</td>
			<td><a href="https://genome.ucsc.edu/cgi-bin/hgTracks?db=danRer7" target="_blanck">danRer7</a></td>
			<td>AAAA/MM/DD</td>
			<td><a ng-href="/link_to_the_file">GTF</a>, <a ng-href="/link_to_the_file">GFF</a></td>
		</tr>
	</table>
</div>
