<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<h1><i class="fa fa-download"></i>        Downloads</h1>
<a href="https://github.com/BioMAs/toxsign">Source code to the DoCM web application.</a><br>
This is the full source code of the TOXsIgN web application. It runs Python 2.7, R and Javascript.

<h3>TOXsIgN excel template version</h3>
<table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Version</th>
      <th>Last update</th>
      <th>Download</th>
    </tr>
    <tr>
        <td>Version 0.4</td>
        <td>03/08/2017</td>
        <td><a ng-href="/dataset_download/templates/TOXsIgN_template_v0.4.xlsx"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>Version 0.3</td>
        <td>02/21/2017</td>
        <td><a ng-href="/dataset_download/templates/TOXsIgN_template_v0.3.xlsx"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
</table>


<h3>TOXsIgN data</h3>
<table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Name</th>
      <th>Last update</th>
      <th>Download</th>
    </tr>
    <tr>
        <td>gene_info</td>
        <td>11/21/2016</td>
        <td><a ng-href="/dataset_download/database/gene_info_parse"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>homologene.data</td>
        <td>11/15/2016</td>
        <td><a ng-href="/dataset_download/database/homologene.data.txt"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>gene_info and homologene.data</td>
        <td>11/30/2016</td>
        <td><a ng-href="/dataset_download/database/TOXsIgN_geneDB"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>[ontology] National Center for Biotechnology Information (NCBI) Organismal Classification (NCBITAXON)</td>
        <td>08/11/2016</td>
        <td><a href="https://www.ncbi.nlm.nih.gov/taxonomy" target="_blank">NCBI Taxonomy</a></td>
    </tr>
    <tr>
        <td>[ontology] Chemical Entities of Biological Interest (CHEBI)</td>
        <td>20/12/2016</td>
        <td><a href="https://www.ebi.ac.uk/chebi/" target="_blank">CHEBI</a></td>
    </tr>
    <tr>
        <td>[ontology] Foundational Model of Anatomy (FMA)</td>
        <td>08/11/2016</td>
        <td><a href="http://si.washington.edu/projects/fma" target="_blank">Foundational Model of Anatomy</a></td>
    </tr>
    <tr>
        <td>[ontology] Human Phenotype Ontology (HP)</td>
        <td>10/12/2016</td>
        <td><a href="http://human-phenotype-ontology.github.io/" target="_blank">Human Phenotype Ontology</a> </td>
    </tr>
    <tr>
        <td>[ontology] Phenotypic Quality Ontology (PATO)</td>
        <td>08/11/2016</td>
        <td><a href="http://www.obofoundry.org/ontology/pato.html" target="_blank">Phenotypic Quality Ontology</a></td>
    </tr>
    <tr>
        <td>[ontology] Human Disease Ontology (DOID)</td>
        <td>08/11/2016</td>
        <td><a href="" target="_blank">Human Disease Ontology </a></td>
    </tr>
    <tr>
        <td>[ontology] Gene Ontology (GO)</td>
        <td>10/12/2016</td>
        <td><a href="" target="_blank">Gene Ontology</a></td>
    </tr>
    <tr>
        <td>[ontology] Cell Ontology (CL)</td>
        <td>08/11/2016</td>
        <td><a href="" target="_blank">Cell Ontology</a></td>
    </tr>
    <tr>
        <td>[ontology] BRENDA Tissue and Enzyme Source Ontology (BTO)</td>
        <td>08/11/2016</td>
        <td><a href="" target="_blank">BRENDA Tissue and Enzyme Source Ontology</a></td>
    </tr>
    <tr>
        <td>[ontology] Mammalian Phenotype Ontology (MP)</td>
        <td>10/12/2016</td>
        <td><a href="" target="_blank">Mammalian Phenotype Ontology</a></td>
    </tr>
    <tr>
        <td>[ontology] Ontology for Biomedical Investigations (OBI)</a></td>
        <td>08/11/2016</td>
        <td><a href="" target="_blank">Ontology for Biomedical Investigations</a></td>
    </tr>
</table>

<h3>TOXsIgN ontologies</h3>
<table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Name</th>
      <th>Last update</th>
      <th>Download</th>
    </tr>
    <tr>
        <td>Biological process</td>
        <td>12/06/2016</td>
        <td><a ng-href="/dataset_download/ontologies/biological.tab"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>Cell line</td>
        <td>12/06/2016</td>
        <td><a ng-href="/dataset_download/ontologies/cell_line.tab"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>Cell</td>
        <td>12/06/2016</td>
        <td><a ng-href="/dataset_download/ontologies/cell.tab"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>Chemicals</td>
        <td>12/06/2016</td>
        <td><a ng-href="/dataset_download/ontologies/chemical.tab"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>Disease</td>
        <td>12/06/2016</td>
        <td><a ng-href="/dataset_download/ontologies/disease.tab"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>Experiment</td>
        <td>12/06/2016</td>
        <td><a ng-href="/dataset_download/ontologies/experiment.tab"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>Species</td>
        <td>12/06/2016</td>
        <td><a ng-href="/dataset_download/ontologies/species.tab"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
    <tr>
        <td>Tissue</td>
        <td>12/06/2016</td>
        <td><a ng-href="/dataset_download/ontologies/tissue.tab"><i class="fa fa-download" aria-hidden="true"></i></a></td>
    </tr>
</table>

