<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-king"></i> Institutions</h2>
</div>


	<p><b>The ReproGenomics Viewer is supported, built and maintained by the Research Institute for Environmental and Occupational Health (IRSET) and the GenOuest BioInformatics facility located in Rennes (Brittany, France).</b></p>
	<div class="row">
		<div class="col-md-6">
		<h3><a href="https://www.irset.org" target="_blanck"><img src="images/irsetlogo.jpg" height="50" alt="Irset"></img> Inserm U1085-Irset</a></h3><br>
		<p>The Research Institute for Environmental and Occupational Health (Irset) is located at Rennes. Its research groups cover diverse and complementary fields such as molecular and genome biology, bioinformatics, analytical chemistry, toxicology and epidemiology that all have a common aim:	gain insight into basic molecular processes related to pathologies that manifest themselves in the context of environmental challenges. Irset is a joint research unit of the French Institute of Medical Research (Inserm), the University of Rennes 1, and the EHESP-School of Public Health,in association with the University of Angers, the University of the Antilles, the National Center of Scientific Research (CNRS), and	the Rennes, Angers and Pointe-à-Pitre University Hospitals.<br></p>
		<br>
		<a href="http://english.inserm.fr/" target="_blanck"><img src="images/insermlogo.gif" height="50" alt="Inserm"></img></a> <a href="https://www.ehesp.fr/en/" target="_blanck"><img src="images/ehesplogo.jpg" height="50" alt="EHESP"></img></a> <a href="https://international.univ-rennes1.fr/" target="_blanck"><img src="images/ur1logo.jpg" height="50" alt="University of Rennes 1"></img></a>
	</div>
	<div class="col-md-6">
		<h3><a href="https://www.genouest.org" target="_blanck"><img src="images/genouestlogo.png" height="50" alt="GenOuest BioInformatics facility"></img> GenOuest BioInformatics facility</a></h3><br>
		<p>The GenOuest BioInformatics facility is hosted at INRIA Rennes-Bretagne Atlantique and IRISA. It is a member of IFB (Institut Français de Bioinformatique) and a member of Biogenouest. GenOuest is an IBiSA platform and it is recognized by INRA CNOC as a strategic regional platform<br></p>
		<br>
		<a href="https://www.inria.fr/en/" target="_blanck"><img src="images/inrialogo.jpg" height="50" alt="Inria"></img></a> <a href="http://www.cnrs.fr/index.php" target="_blanck"><img src="images/cnrslogo.png" height="50" alt="CNRS"></img></a>
	</div>
</div>

<hr>

<div>
	<h2><i class="glyphicon glyphicon-euro"></i> Founders</h2>
	<p><b>The ReproGenomics Viewer was funded by:</b><br>
	<ul class="list-unstyled">
	<li><a href="https://www.anses.fr/en" target="_blanck"><img src="images/anseslogo.jpg" height="50" alt="ANSES"></img></a> The French Agency for Food, Environmental and Occupational Health & Safety [ANSES No. EST-13-081 to F.C.]<br></li>
	<li><a href="https://www.frm.org" target="_blanck"><img src="images/frmlogo.png" height="50" alt="FRM"></img></a> The Medical Research Foundation [FRM No. DBI20131228558 to F.C.]<br></li>
	<li><a href="http://europe.bzh/jcms/wcrb_223387/fr/accueil" target="_blanck"><img src="images/federlogo.png" height="50" alt="FEDER"></img> </a> The European Union and <img src="images/rblogo.jpg" height="50" alt="Région Bretagne"></img> The Brittany Region [FEDER to F.C.]<br></li>
	<li><a href="http://www.snf.ch/en" target="_blanck"><img src="images/fnslogo.png" height="50" alt="FNS"></img></a> The Swiss National science Foundation<br></li>
</ul>
	</p>
</div>
