<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
	ga('send', 'pageview', '/getinvolved.html');
</script>
<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-link"></i> Get involved</h2>
</div>


<div>
	<p>You want to share your dataset with the reproductive science community and to make it available in the ReproGenomics Viewer database, please feel free to contact us!<br>
	For RNA or DNA sequencing data the easiest thing to do is to first upload your data in the <a href="https://www.ncbi.nlm.nih.gov/geo/" target="_blanck">Gene Expression Omnibus</a> (GEO) and to the <a href="https://www.ncbi.nlm.nih.gov/sra" target="_blanck">Sequence Read Archive</a> (SRA). Then send us an <a href="mailto:frederic.chalmel@inserm.fr">email</a> with the corresponding GEO and SRA identifiers (and, if available, the PubMed identifier) and we will do our best to integrate your data in RGV.<br>
	<br>
	<b>Mail: frederic.chalmel[at]inserm.fr</b><br></p>
</div>
