<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
	ga('send', 'pageview', '/getinvolved.html');
</script>
<style type="text/css">
	/* Required field START */
	.required-field-block {
		position: relative;   
	}
	.required-field-block .required-icon {
		display: inline-block;
		vertical-align: middle;
		margin: -0.25em 0.25em 0em;
		background-color: #E8E8E8;
		border-color: #E8E8E8;
		padding: 0.5em 0.8em;
		color: rgba(0, 0, 0, 0.65);
		text-transform: uppercase;
		font-weight: normal;
		border-radius: 0.325em;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: background 0.1s linear;
		-moz-transition: background 0.1s linear;
		transition: background 0.1s linear;
		font-size: 75%;
	}
		
	.required-field-block .required-icon {
		background-color: transparent;
		position: absolute;
		top: 0em;
		right: 0em;
		z-index: 10;
		margin: 0em;
		width: 30px;
		height: 30px;
		padding: 0em;
		text-align: center;
		-webkit-transition: color 0.2s ease;
		-moz-transition: color 0.2s ease;
		transition: color 0.2s ease;
	}
	.required-field-block .required-icon:after {
		position: absolute;
		content: "";
		right: 1px;
		top: 1px;
		z-index: -1;
		width: 0em;
		height: 0em;
		border-top: 0em solid transparent;
		border-right: 30px solid transparent;
		border-bottom: 30px solid transparent;
		border-left: 0em solid transparent;
		border-right-color: inherit;
		-webkit-transition: border-color 0.2s ease;
		-moz-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
	}
	.required-field-block .required-icon .text {
		color: #B80000;
		font-size: 26px;
		margin: -3px 0 0 12px;
	}
	</style>
<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-link"></i> Get involved</h2>
</div>

<div ng-if="msg.type == 'danger'">
	<div class="alert alert-danger" role="alert" >
		{{ msg.value }}
	</div>
</div>

<div ng-if="msg.type == 'success'">
	<div class="alert alert-success" role="success" >
			Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for your contribution, we will get back to you shortly.
	</div>
</div>


<div ng-if="msg.type == 'warning'">
	<div class="alert alert-warning" role="warning" >
		<ul style="list-style-type: none;">
				<li ng-repeat="m in msg.value">{{ m }}</li>
			</ul>
	</div>
</div>
	

<div>
	<p>You want to share your dataset with the reproductive science community and to make it available in the ReproGenomics Viewer database, please feel free to contact us!<br>
	For RNA or DNA sequencing data the easiest thing to do is to first upload your data in the <a href="https://www.ncbi.nlm.nih.gov/geo/" target="_blanck">Gene Expression Omnibus</a> (GEO) and to the <a href="https://www.ncbi.nlm.nih.gov/sra" target="_blanck">Sequence Read Archive</a> (SRA). Then send us an <a href="mailto:frederic.chalmel@inserm.fr">email</a> with the corresponding GEO and SRA identifiers (and, if available, the PubMed identifier) and we will do our best to integrate your data in RGV.<br>
	<br>
</div>

<form class="well form-horizontal"  id="contact_form">
	<fieldset>
	
	<!-- Form Name -->
	<legend>Suggest study</legend>
	
	<!-- Text input-->
	<div class="form-group">
		<label class="control-label col-sm-3" for="first_name">First Name</label>
		<div class="col-sm-6">
			<div class="form-group input-group required-field-block">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input ng-model="first_name" id="first_name" placeholder="Enter your first name" type="text" class="form-control">
				<div class="required-icon">
					<div class="text">*</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="control-label col-sm-3" for="first_name">Last Name</label>
		<div class="col-sm-6">
			<div class="form-group input-group required-field-block">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input ng-model="last_name" id="last_name" placeholder="Enter your last name" type="text" class="form-control">
				<div class="required-icon">
					<div class="text">*</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="control-label col-sm-3" for="email">Email</label>
		<div class="col-sm-6">
			<div class="form-group input-group required-field-block">
				<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input ng-model="email" id="email" placeholder="Enter your email" type="text" class="form-control" >
				<div class="required-icon">
					<div class="text">*</div>
				</div>
			</div>
		</div>
	</div>
	
	<hr>


	<!-- Text input-->
	<div class="form-group">
		<label class="control-label col-sm-3" for="title">Article title</label>
		<div class="col-sm-6">
			<div class="form-group input-group required-field-block">
				<span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
				<input ng-model="article_title" id="title" placeholder="Article title" type="text" class="form-control">
			</div>
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="control-label col-sm-3" for="pmid">PubMedID</label>
		<div class="col-sm-6">
			<div class="form-group input-group required-field-block">
				<span class="input-group-addon"><i class="glyphicon glyphicon-book"></i></span>
				<input ng-model="article_pmid" id="pmid" placeholder="PMID" type="text" class="form-control">
			</div>
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="control-label col-sm-3" for="sra">SRA ID(s)</label>
		<div class="col-sm-6">
			<div class="form-group input-group required-field-block">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input ng-model="article_sra" id="sra" placeholder="SRA ID(s) - comma separated" type="text" class="form-control">
				<div class="required-icon">
					<div class="text">*</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Text input-->
	<div class="form-group">
		<label class="control-label col-sm-3" for="gse">GEO ID (GSE)</label>
		<div class="col-sm-6">
			<div class="form-group input-group required-field-block">
				<span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
				<input ng-model="article_gse" id="gse" placeholder="GSE12345 - comma separated" type="text" class="form-control">
			</div>
		</div>
	</div>
	
	<!-- Text input-->
	<div class="form-group">
		<label class="control-label col-sm-3" for="prjna">PRJNA</label>
		<div class="col-sm-6">
			<div class="form-group input-group required-field-block">
				<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
				<input ng-model="article_prjna" id="prjna" placeholder="PRJNA" type="text" class="form-control">
			</div>
		</div>
	</div>
	
	<!-- Text input-->
	<div class="form-group">
			<label class="control-label col-sm-3" for="prjna">7+3+10 (human verification)</label>
			<div class="col-sm-6">
				<div class="form-group input-group required-field-block">
					<span class="input-group-addon"><i class="glyphicon glyphicon-briefcase"></i></span>
					<input ng-model="verif_code" id="verif" placeholder="7+3+10" type="number" class="form-control">
				</div>
			</div>
		</div>
	
	</div>
</form>
<button class="btn btn-default" ng-click="suggest()">Send</button>

