<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="container">
  <h1>Help, tutorials and FAQ</h1>
  <h2>Let's start with some definitions</h2>
  <p>TOXsIgN is a new multi-species public repository for toxicological signatures... but wait a second, what is a "toxicological signature"?
  A toxicological signature is defined as the description of physiological, cellular, molecular or (transcript-/epigen-)omic effects on individuals or their descendants, after exposure to single or combined environmental factors, including chemical (e.g. pesticides, plasticizers, drugs, endocrine disruptors), physical (e.g. radiations, temperature) or biological (e.g. pathogens, parasites) factors.</p>

  <h2>Why should I submit my toxicological signatures to TOXsIgN?</h2>

  <p>Considerable worries have recently been raised regarding the lack of reproducibility of biomedical research, and more particularly in the field of toxicology. Funding agencies, such as the National Institutes of Health (NIH), share this concern and discuss ways to enhance reproducibility in environmental sciences by notably providing greater transparency of the data, including negative findings or contradictory data that should also be adopted more widely in peer-reviewed journals.
  Journals and public funding agencies have thus begun to make public availability of raw data but also analyzed data a condition of publication or funding, respectively.</p>

  <p>In addition, we believe that it is also a matter of give and take, so to speak as making toxicological signature data available to the community: i) will facilitate data comparison and the development of innovative tools; and, ii) on the other hand, will make your toxicological studies and publications more visible (as investigators will be able to compare their own signature data with yours) and it will thus boost citations of your scientific articles.</p>


  <h2>Is TOXsIgN intended to replace existing toxicological databases?</h2>
  <p>Of course it isn't! TOXsIgN neither intends to archive raw data such as GEO and ArrayExpress, nor to replace existing toxicological databases. Instead, it aims at complementing them by acting as a distribution hub in which scientists can actively submit and share their toxicological signatures with the community.
  In addition to serving as a public archive, TOXsIgN also intends to become a warehouse for toxicogenomics and predictive toxicology tools. Its modular design will facilitate the implementation of tools leaning on the deposited signatures that will help investigators analyze, predict and prioritize the toxicological effects of environmental factors.</p>



<h2>How data is organized in the TOXsIgN repository?</h2>
<p>Within the TOXsIgN repository, information is organized  in a four-layer architecture (project>study>treatment>signature): a project is subdivided into studies which address specific questions and describe treatments or experimental conditions, the latter being associated with toxicological signatures.</p>

<p>It is worth mentioning that TOXsIgN uses eleven distinct controlled vocabularies (ontologies) allowing investigators to standardize data description and thus improve database queries.</p>


<h2>As far as molecular and "omics" signatures are concerned, what types of database entries are suitable?</h2>
<p>In its current state, TOXsIgN is a gene-centric repository that only accepts NCBI Entrez Gene identifiers (IDs) for molecular and "omics" signatures because: i) it will greatly enhance cross-study and cross-species analysis possibilities; ii) reliable and consistent gene ID conversion is a complex problem.</p>

<p>Users are thus referred to existing resources for gene ID conversion over a wide range or organisms such as <a href = "http://ailun.stanford.edu/">AILUN</a>, <a href= "https://david.ncifcrf.gov/conversion.jsp">DAVID</a> or <a href="http://www.uniprot.org/uploadlists/">UniProt</a></p>


<h2>May I submit large datasets such as DrugMatrix or Open TG-GATEs?</h2>
<p>In its current status, Bulk submissions of large datasets (e.g. toxicogenomics signtures for hundreds of environmental factors) is not yet incorporated in TOXsIgN via direct deposit of files. Nevertheless, the TOXsIgN team will be pleased to help you to submit your toxicological signatures, so do not hesitate to contact us as we are interested in collaborating with all potential data providers.</p>

<h2>Access to the tutorial</h2>
<p>Full instructions and examples about tools, search and submission are provided on the TOXsIgN <a href="#/tutorial">tutorial section</a>.</p>



</div>
