<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="styles/justified-nav.css" rel="stylesheet">

<div ng-if="msg" class="alert alert-warning">
	{{msg}}
</div>
<link href="styles/justified-nav.css" rel="stylesheet">
<div class="jumbotron">
	<h2>Welcome to the ReproGenomics Viewer</h2>
	<h3>The genomics toolbox for the reproductive science community!</h3>
	<div class="well">
		<p>The ReproGenomics Viewer (RGV) is a cross-species genomic toolbox for the reproductive community. The system is based on the implementation of a JBrowse genome browser and a Galaxy bioinformatics workflow environment. It was developed to provide a one-stop genomic working environment and aims to assist scientists in the analysis and the mining of a wide range of high-throughput repro-genomics data, including sequencing data.</p>
	</div>
</div>

<div class="row">
	<!--3 col pour avoir le carousel au milieu*/-->

	<div class="col-md-3" style="height: 305px">
		<!--/*div gauche*/-->
	</div>
	<div class="col-md-6" style="height: 305px">
			<!--/*div milieu*/-->
	    <carousel interval="myInterval">
	      <slide ng-repeat="slide in slides" active="slide.active">
	        <img ng-src="{{slide.image}}">
	        <div class="carousel-caption">
	          <h4>{{slide.text}}</h4>
	        </div>
	      </slide>
	    </carousel>
	</div>
	<div class="col-md-3" style="height: 305px">
		<!--/*div droite*/-->
	</div>
</div>

<div class="row">
	<a href="#/browser_genome">
		<div class="col-md-4" style="text-align: center;">
			<h1><i class="glyphicon glyphicon-indent-left"></i></h1><h2> Genome browser</h2>
		</div>
	</a>
	<a href="#/browser_genelevel">
		<div class="col-md-4" style="text-align: center;">
			<h1><i class="glyphicon glyphicon-align-left"></i></h1><h2> Gene-level browser</h2>
		</div>
	</a>
	<a href="#/browser_scRNAseq">
		<div class="col-md-4" style="text-align: center;">
			<h1><i class="glyphicon glyphicon-cloud"></i></h1><h2> Single-cell browser</h2>
		</div>
	</a>
</div>
<div class="row">
	<a href="#/about">
		<div class="col-md-4" style="text-align: center;">
			<h1><i class="glyphicon glyphicon-flash"></i></h1><h2> What is RGV?</h2>
		</div>
	</a>
	<a href="#/tutorial">
		<div class="col-md-4" style="text-align: center;">
			<h1><i class="glyphicon glyphicon-education"></i></h1><h2> How to use it?</h2>
		</div>
	</a>
	<a href="#/getinvolved">
		<div class="col-md-4" style="text-align: center;">
			<h1><i class="glyphicon glyphicon-link"></i></h1><h2> How to get involved?</h2>
		</div>
	</a>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            Last news
        </div>
        <div class="panel-body fixed-panel">
          <div ng-repeat="(key,value) in newsfeed">
            <h4>{{value.title}}</h4>
            <p>{{value.text}}</p>
            <hr>

          </div>

        </div>
    </div>
  </div>



  <div class="col-md-4">
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            Getting started
        </div>
        <div class="panel-body">
					<ul class="list-unstyled">
						<li><a href="#/about" active-link="active"><i class="glyphicon glyphicon-flash"></i> About RGV</a></li>
						<li><a href="#/tutorial" active-link="active"><i class="glyphicon glyphicon-education"></i> Tutorial</a></li>
						<li><a href="#/browser_genome" active-link="active"><i class="glyphicon glyphicon-indent-left"></i> Genome browser</a></li>
						<li><a href="#/browser_genelevel" active-link="active"><i class="glyphicon glyphicon-align-left"></i> Gene-level browser</a></li>
						<li><a href="#/browser_scRNAseq" active-link="active"><i class="glyphicon glyphicon-cloud"></i> Single-cell browser</a></li>
					</ul>
        </div>
    </div>
  </div>

	<div class="row">
			<!--/*div espace bas de page, footer*/-->

			<div class="col-md-3" style="height: 305px">
				<!--/*div gauche*/-->
			</div>
	</div>
