<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="styles/justified-nav.css" rel="stylesheet">

<script>
	console.log(location.pathname)
	ga('send', 'pageview', '/home.html');
</script>

<div ng-if="msg" class="alert alert-warning" style="margin-top:50px;text-align:center;">
	{{msg}}
</div>


<div class="container" style="margin-top:10px;">
	<!-- Heading Row -->
	<div class="row">
		<div class="col-lg-8 vcenter">
			<img class="img-fluid rounded" src="images/RGVLogo_home.png" alt="" width="100%">
		</div><!--
		--><div class="col-lg-4 vcenter">
			<h1>The genomics toolbox for the reproductive science community!</h1>
			<p>The ReproGenomics Viewer (RGV) is a cross-species genomic toolbox for the reproductive community. The system is based on the implementation of a JBrowse genome browser and a Galaxy bioinformatics workflow environment. It was developed to provide a one-stop genomic working environment and aims to assist scientists in the analysis and the mining of a wide range of high-throughput repro-genomics data, including sequencing data.</p>
			<a class="btn btn-default btn-lg" href="#/browser_genome">Start</a>
		</div>
		<!-- /.col-md-4 -->
	</div>
	<!-- /.row -->

	<div class="row" style="margin-top:10px;">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="images/home_jb.png" width="100%" alt="...">
				<div class="caption">
					<h3>Genome browser</h3>
					<p>...</p>
					<p><a href="#/browser_genome" class="btn btn-default" role="button">Use</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<img src="images/home_violin.png" width="100%" alt="...">
					<div class="caption">
						<h3>Violin plot data visualization</h3>
						<p>...</p>
						<p><a href="#/browser_genelevel" class="btn btn-default" role="button">Use</a></p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="images/home_scatter.png" width="100%" alt="...">
						<div class="caption">
							<h3>Scatterplot data visualization</h3>
							<p>...</p>
							<p><a href="#/browser_scRNAseq" class="btn btn-default" role="button">Use</a></p>
						</div>
					</div>
				</div>
	</div>
	<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            Latest news
        </div>
        <div class="panel-body fixed-panel">
          <div ng-repeat="(key,value) in newsfeed">
            <h4>{{value.title}}</h4>
            <p>{{value.text}}</p>
            <hr>

          </div>

        </div>
    </div>
  </div>



  <div class="col-md-4">
    <div class="panel panel-default" style="margin-top:20px;">
        <div class="panel-heading">
            Getting started
        </div>
        <div class="panel-body">
					<ul class="list-unstyled">
						<li><a href="#/about" active-link="active"><i class="glyphicon glyphicon-flash"></i> About RGV</a></li>
						<li><a href="#/tutorial" active-link="active"><i class="glyphicon glyphicon-education"></i> Tutorial</a></li>
						<li><a href="#/getinvolved" active-link="active"><i class="glyphicon glyphicon-link"></i>How to get involved?</a></li>
						<li><a href="#/browser_genome" active-link="active"><i class="glyphicon glyphicon-indent-left"></i> Genome browser</a></li>
						<li><a href="#/browser_genelevel" active-link="active"><i class="glyphicon glyphicon-align-left"></i> Violin plot data visualization</a></li>
						<li><a href="#/browser_scRNAseq" active-link="active"><i class="glyphicon glyphicon-cloud"></i> Scatterplot data visualization</a></li>
					</ul>
        </div>
    </div>
	</div>
	<div class="row">
			<!--/*div espace bas de page, footer*/-->

			<div class="col-md-3" style="height: 305px">
				<!--/*div gauche*/-->
			</div>
	</div>

</div>

	
