<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="well" style="text-align: center;">
  <h2>Get involved</h2>
</div>
<div class="row">

    <div class="col-md-4" style="text-align: center;">
      <i class="fa fa-cloud-upload fa-4x" aria-hidden="true" ></i>
      <h3>Upload tool(s)</h3>
      <form action="mailto:toxsign.team@gmail.com" method="post" enctype="text/plain">
        <button  type="submit" value="Send" class="btn btn-success btn-large">Upload tool</button>
      </form>
      <p><br><br>A vast number of implemented tools are available for TOXsIgN through the TOXsIgN warehouse. If a tool is not currently in the TOXsIgN warehouse, it can be wrapped and added to TOXsIgN and later shared with the rest of the world. To upload a new tool, please contact us.</p>
      
    </div>

    <div class="col-md-4" style="text-align: center;">
      <i class="fa fa-database fa-4x" aria-hidden="true"></i>
      <h3>Submit large dataset</h3>
      <form action="mailto:toxsign.team@gmail.com" method="post" enctype="text/plain">
        <button ng-click="(0)" type="btn" class="btn btn-success btn-large">Submit dataset</button>
      </form>
      <p><br><br>In its current status, Bulk submissions of large datasets is not yet incorporated in TOXsIgN via direct deposit of files. Nevertheless, the TOXsIgN team will be pleased to help you to submit your toxicological signatures, so do not hesitate to contact us as we are interested in collaborating with all potential data providers.</p>
      
    </div>

    <div class="col-md-4" style="text-align: center;">
      <i class="fa fa-users fa-4x" aria-hidden="true"></i>
      <h3>Join us</h3>
      <form action="mailto:toxsign.team@gmail.com" method="post" enctype="text/plain">
        <button ng-click="(0)" type="btn" class="btn btn-success btn-large">Join us</button>
      </form>
      <p><br><br>You can join TOXsIgN as an individual, whether you are a PhD Student, Post-Doc, Developer, Publisher, Funder, or just generally interested in data and model management.</p>
      
    </div>

</div>
<div class="row">
    <div class="col-md-4" style="text-align: center;">
      <i class="fa fa-envelope fa-4x" aria-hidden="true" ></i>
      <h3>Contact us</h3>
      <form action="mailto:toxsign.team@gmail.com" method="post" enctype="text/plain">
        <button ng-click="(0)" type="btn" class="btn btn-success btn-large">Contact us</button>
      </form>
      <p><br><br>For any further information please do not hesitate to contact us</p>
      
    </div>
</div>
