<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<h2>Browse TOXsIgN ontologies</h2>
<div class="well">
    <p>The TOXsIgN ontologies tool allows users to browse the ontologies used to describe data in TOXsIgN. This feature is especially relevant for filling the excel template used to insert data in TOXsIgN. <br>

    This tool use NCBI OntologyTree widget from BioPortal. This widget is an embeddable Flex application that allows a user to interact with a tree browser for ontologies. The widget is configured to display a list of all the ontologies in TOXsIgN, allowing the user to select which one to display, or can be setup to view a particular ontology. <br>

    The ID associated to your research term is return in the information box (bottom of the page). If you use this tool to fill the TOXsIgN excel template, please copy/paste the result in your file (NCBITaxon: XXXX).</p>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-md-12 control-label" for="org">Organism</label>  
        <div class="col-md-12">
            <input id="organism_vivo" type="text" ng-model="organism" placeholder="Organism" typeahead-min-length="4" typeahead-on-select="selected_organism($item, $model,label)" typeahead="item.name for item in get_onto($viewValue,'species.tab')" typeahead-loading="loadingOrganism" class="form-control" > 
        </div>
        <div class="col-md-12" id='result_organism' style="display:none;">
            <p><b>Organism name :</b> {{organism.name}}</p>
            <p><b>ID <span style='color:red;'>(to use in excel template)</span> :</b> {{organism.id}}</p>
            <p><b>Organism synonyms :</b> <span ng-repeat="syn in organism.synonyms">{{syn}}  </span></p>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="form-group" style="margin-top:10px;">
        <label class="col-md-12 control-label" for="org">Tissue</label>  
        <div class="col-md-12">
            <input id="organism_vivo" type="text" ng-model="tissue" placeholder="Tissue" typeahead-min-length="4" typeahead-on-select="selected_tissue($item, $model,label)" typeahead="item.name for item in get_onto($viewValue,'tissue.tab')" typeahead-loading="loadingOrganism" class="form-control" > 
        </div>
        <div class="col-md-12" id='result_tissue' style="display:none;">
            <p><b>Tissue name :</b> {{tissue.name}}</p>
            <p><b>ID <span style='color:red;'>(to use in excel template)</span> :</b> {{tissue.id}}</p>
            <p><b>Tissue synonyms :</b> <span ng-repeat="syn in tissue.synonyms">{{syn}} | </span></p>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="form-group" style="margin-top:10px;">
        <label class="col-md-12 control-label" for="org">Pathologies / diseases</label>  
        <div class="col-md-12">
            <input id="organism_vivo" type="text" ng-model="pathologies" placeholder="pathologies / diseases" typeahead-min-length="4" typeahead-on-select="selected_pathologies($item, $model,label)" typeahead="item.name for item in get_onto($viewValue,'disease.tab')" typeahead-loading="loadingOrganism" class="form-control" > 
        </div>
        <div class="col-md-12" id='result_pathologies' style="display:none;">
            <p><b>Pathology name :</b> {{pathologies.name}}</p>
            <p><b>ID <span style='color:red;'>(to use in excel template)</span> :</b> {{pathologies.id}}</p>
            <p><b>Pathology synonyms :</b> <span ng-repeat="syn in pathologies.synonyms">{{syn}} | </span></p>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="form-group" style="margin-top:10px;">
        <label class="col-md-12 control-label" for="org">Chemical / molecules</label>  
        <div class="col-md-12">
            <input id="organism_vivo" type="text" ng-model="chemical" placeholder="Chemical / molecules" typeahead-min-length="4" typeahead-on-select="selected_molecule($item, $model,label)" typeahead="item.name for item in get_onto($viewValue,'chemical.tab')" typeahead-loading="loadingOrganism" class="form-control" > 
        </div>
        <div class="col-md-12" id='result_molecule' style="display:none;">
            <p><b>Chemical name :</b> {{molecule.name}}</p>
            <p><b>ID <span style='color:red;'>(to use in excel template)</span> :</b> {{molecule.id}}</p>
            <p><b>Chemical synonyms :</b> <span ng-repeat="syn in molecule.synonyms">{{syn}} | </span></p>
        </div>
    </div>
</div>

<hr>
<div class="row">
    <div class="form-group" style="margin-top:10px;">
        <label class="col-md-12 control-label" for="org">Technologies</label>  
        <div class="col-md-12">
            <input id="organism_vivo" type="text" ng-model="Technologies" placeholder="Technologies" typeahead-min-length="4" typeahead-on-select="selected_technology($item, $model,label)" typeahead="item.name for item in get_onto($viewValue,'experiment.tab')" typeahead-loading="loadingOrganism" class="form-control" > 
        </div>
        <div class="col-md-12" id='result_technology' style="display:none;">
            <p><b>Technology name :</b> {{technology.name}}</p>
            <p><b>ID <span style='color:red;'>(to use in excel template)</span> :</b> {{technology.id}}</p>
            <p><b>Technology synonyms :</b> <span ng-repeat="syn in technology.synonyms">{{syn}} | </span></p>
        </div>
    </div>
</div>