<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-link"></i> Other bioinformatics resources from our research group</h2>
</div>


<div>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>PubMed</th>
		</tr>
		<tr>
			<td><a href="https://sourceforge.net/projects/amen" target="_blanck"><img src="images/amenlogo.gif" height="40" alt="AMEN"></img><br>AMEN</a></td>
			<td>The Annotation, Mapping, Expression and Network suite of tools</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=18254954" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://gpsy.genouest.org/" target="_blanck">GPSy</a></td>
			<td>The Gene Prioritization System</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=22570409" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://rgv.genouest.org/" target="_blanck"><img src="images/rgvlogo.png" height="40" alt="AMEN"></img><br>RGV</a></td>
			<td>The ReproGenomics Viewer</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=25883147" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>

		<tr>
			<td><a href="http://peppsy.genouest.org/" target="_blanck"><img src="images/peppsylogo.png" height="40" alt="AMEN"></img><br>PepPSy</a></td>
			<td>The Peptide Prioritization System</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=27173522" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://toxsign.genouest.org/app/#/" target="_blanck">TOXsIgN</a></td>
			<td>The TOXicogenomic sIgNature repository</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=29385404" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
	</table>
	<br>
	<hr>
</div>

<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-link"></i> Other reprogenomics resources</h2>
</div>

<div>
	<p><b>Please feel free to contact us to add other missing resources</b></p>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>PubMed</th>
		</tr>
		<tr>
			<td><a href="https://germsage.nichd.nih.gov/germsage/home.html" target="_blanck">GonadSAGE</a></td>
			<td>A comprehensive SAGE database for transcript discovery on male germ cell development</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/18832368" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="https://gonadsage.nichd.nih.gov/sage/home.html" target="_blanck">GermSAGE</a></td>
			<td>A comprehensive SAGE database for transcript discovery on male embryonic gonad development</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/20028690" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://www.germonline.org/index.html" target="_blanck"><img src="images/amenlogo.gif" height="40" alt="GermOnline"></img><br>GermOnline</a></td>
			<td>A genomics gateway for germline development</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=21149299" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://sgv.genouest.org" target="_blanck"><img src="images/sgvlogo.png" width="150" alt="SGV"></img><br>SGV</a></td>
			<td>The Saccharomyces Genomics Viewer</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/21149693" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://okdb.appliedbioinfo.net/" target="_blanck">The Ovarian Kaleidoscope Database</a></td>
			<td>An online resource for the ovarian research community</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/22441797" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://www.gudmap.org/" target="_blanck"><img src="images/gudmaplogo.png" height="30" alt="GUDMAP"></img><br>GUDMAP</a></td>
			<td>An online resource for the ovarian research community</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/22639262" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://germlncrna.cbiit.cuhk.edu.hk/" target="_blanck"><img src="images/glncrnalogo.png" width="150" alt="GermlncRNA"></img><br>GermlncRNA</a></td>
			<td>A unique catalogue of long non-coding RNAs and associated regulations in male germ cell development</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/25982314" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://mcg.ustc.edu.cn/bsc/spermgenes/" target="_blanck"><img src="images/spermonlinelogo.png" width="150" alt="SpermatogenesisOnline"></img><br>SpermatogenesisOnline</a></td>
			<td>A resource for spermatogenesis based on manual literature curation and genome-wide data mining</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/23193286" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://mcg.ustc.edu.cn/bsc/follicle/" target="_blanck"><img src="images/follicleonlinelogo.png" width="150" alt="FollicleOnline"></img><br>Follicle Online</a></td>
			<td>An integrated database of follicle assembly, development and ovulation</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/25931457" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
		<tr>
			<td><a href="http://spermbase.org/" target="_blanck">SpermBase</a></td>
			<td>A database for Sperm-Borne RNA Contents</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/27628216" target="_blanck"><img src="images/pubmedlogo.jpg" height="40" alt="PubMed"></img></a></td>
		</tr>
	</table>
	<br>
	<hr>
</div>

<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-link"></i> Other dedicated genome browsers</h2>
</div>

<div>
	<p><b>Please feel free to contact us to add other missing resources</p></b>
	<table class="table table-hover">
		<tr>
			<th>Name</th>
		</tr>
		<tr>
			<td><a href="http://rgd.mcw.edu/jbrowse/?data=data_rgd6" target="_blanck">RGD GBrowse session</a><br></td>
		</tr>
		<tr>
			<td><a href="http://jbrowse.informatics.jax.org/?data=data/mouse" target="_blanck">MGI Mouse JBrowse</a></td>
		</tr>
		<tr>
			<td><a href="http://rgd.mcw.edu/jbrowse/?data=data_rgd6" target="_blanck">StaphyloBase</a></td>
		</tr>

		<tr>
			<td><a href="http://cnidarians.bu.edu/EdwardBase/cgi-bin/index.cgi" target="_blanck">EdwardsiellaBase</a></td>
		</tr>
		<tr>
			<td><a href="http://bioinfo2.ugr.es:8888/NGSmethDB/" target="_blanck">NGSmethDB</a></td>
		</tr>
		<tr>
			<td><a href="http://www.plantgdb.org/BdGDB/" target="_blanck">PlantGDB</a></td>
		</tr>
	</table>
</div>



<!-- Footer -->
<div class="row">
		<!--/*div espace bas de page, footer*/-->

		<div class="col-md-3" style="height: 305px">
			<!--/*div gauche*/-->
		</div>
</div>


<!-- http://www.germonline.org/index.html -->
