<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">


<h1><i class="fa fa-info-circle"></i>        Select your ontology</h1>
<select ng-model="onto_selected" class="form-control" ng-change="getInfoOnto(onto_selected)" id="ontology">
    <option value="" disabled selected>Please select</option>
    <option value="NCBITAXON">National Center for Biotechnology Information (NCBI) Organismal Classification (NCBITAXON)</option>
    <option value="CHEBI">Chemical Entities of Biological Interest (CHEBI)</option>
    <option value="FMA">Foundational Model of Anatomy (FMA)</option>
    <option value="HP">Human Phenotype Ontology (HP)</option>
    <option value="PATO">Phenotypic Quality Ontology (PATO)</option>
    <option value="DOID">Human Disease Ontology (DOID)</option>
    <option value="GO">Gene Ontology (GO)</option>
    <option value="CL">Cell Ontology (CL)</option>
    <option value="BTO">BRENDA Tissue and Enzyme Source Ontology (BTO)</option>
    <option value="MP">Mammalian Phenotype Ontology (MP)</option>
    <option value="OBI">Ontology for Biomedical Investigations (OBI)</option>
</select>

<input type="text" name="a" class="bp_form_complete-NCBITAXON,CHEBI,FMA,HP,PATO,DOID,GO-uri" size="100"/>
<input type="text" id="a_bioportal_preferred_name">
<input type="text" id="a_bioportal_concept_id">
<input type="text" id="a_bioportal_ontology_id">
<input type="text" id="a_bioportal_full_id">

<input class="form-control" id="organism_vivo" type="text" ng-model="selectOnto" placeholder="Species"
                            typeahead-min-length="4" typeahead-on-select="selected_tissue($item, $model,label)" typeahead="item.prefLabel for item in get_onto($viewValue,'NCBITAXON')" typeahead-loading="loadingOrganism"
                            class="form-control" >