<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron" style="margin-top:50px;text-align:center;">
	<h2><i class="fa fa-area-chart" aria-hidden="true"></i> Statistics</h2>
</div>

<div>
	<h3><i class="glyphicon glyphicon-ban-circle"></i> Under construction! Coming soon... <i class="glyphicon glyphicon-ban-circle"></i></h3>
	<hr>
	<h3><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Genome information</h3>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>Genome</th>
			<th>Studies number</th>
			<th>Technologies number</th>
			<th>Topics number</th>
		</tr>
		<tr>
			<td><img src="images/genome_hs.png" height="50" title="Homo sapiens" alt="Homo sapiens"></img></td>
			<td>8</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td><img src="images/genome_mm.png" height="50" title="Mus musculus" alt="Mus musculus"></img></td>
			<td>8</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td><img src="images/genome_rn.png" height="50" title="Rattus norvegicus" alt="Rattus norvegicus"></img></td>
			<td>8</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td><img src="images/genome_canFam.png" height="50" title="Canis familiaris" alt="Canis familiaris"></img></td>
			<td>8</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td><img src="images/genome_bosTau.png" height="50" title="Bos taurus" alt="Bos taurus"></img></td>
			<td>8</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td><img src="images/genome_susScr.png" height="50" title="Sus scrofa" alt="Sus scrofa"></img></td>
			<td>8</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td><img src="images/genome_galGal.jpg" height="50" title="Gallus gallus" alt="Gallus gallus"></img></td>
			<td>8</td>
			<td>5</td>
			<td>1</td>
		</tr>
		<tr>
			<td><img src="images/genome_danRer.png" height="50" title="Danio rerio" alt="Danio rerio"></img></td>
			<td>8</td>
			<td>5</td>
			<td>1</td>
		</tr>
	</table>
</div>
