<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-list"></i> Studies</h2>
</div>


<div>
	<h3>Current list of studies integrated into the ReproGenomics Viewer</h3>
	An excel sheet is available in the <a href="#/download">Download section</a> describing in more details the corresponding studies.
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th>Date (AAAA/MM/DD)</th>
			<th>Biological topic</th>
			<th>Name</th>
			<th>Short description</th>
			<th>Genome</th>
			<th>Technology</th>
			<th>n° of samples</th>
			<th>Links (PubMed, SRA, GEO)</th>
		</tr>
		<tr>
			<td>AAAA/MM/DD</td>
			<td>Spermatogenesis, gonad development, oogenesis, PGCs</td>
			<td>NA</td>
			<td>NA</td>
			<td>Homo sapiens</td>
			<td>RNA-seq, ChIP-seq, ...</td>
			<td>0</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/29040674" target="_blanck">PubMed</a>, <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE3634" target="_blanck">GEO</a>, <a href="https://www.ncbi.nlm.nih.gov/sra?term=SRP035612" target="_blanck">SRA</a></td>
		</tr>
	</table>
</div>
