<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script>
	ga('send', 'pageview', '/studies.html');
</script>
<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-list"></i> Studies</h2>
</div>


<div>
	<h3>Current list of studies integrated into the ReproGenomics Viewer</h3>
	An excel sheet is available in the <a href="#/download">Download section</a> describing in more details the corresponding studies.
	<table st-table="displayedCollection" st-safe-src="data_all" class="table">
		<thead>
		  <tr>
			<th>Article</th>
			<th>Biological topics</th>
			<th>Species</th>
			<th>Technology</th>
			<th>n° of samples</th>
			<th>Links (PubMed, SRA, GEO)</th>
		  </tr>
		</thead>
		<tbody>
		  <tr st-select-row="row" st-select-mode="multiple" ng-repeat="row in displayedCollection" >
			<td>{{row.article}}</td>
			<td>{{replaceString(row.biological_topics)}}</td>
			<td>{{replaceString(row.species)}}</td>
			<td>{{row.technology}}</td>
			<td>{{getSampleNumber(row.run_ID)}}</td>
			<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{row.PubMedID}}">{{row.PubMedID}}</a></td>
		  </tr>
		</tbody>
		<tbody ng-if="!displayedCollection">
			<tr>
			  <td colspan="2">Loading ...</td>
			</tr>
		  </tbody>
	  </table>
</div>
