<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script>
	ga('send', 'pageview', '/studies.html');
</script>

<style>
		.st-selected > td {
		background: #d8060640;
	}
	table  {
			font-size: 10px;
	}
	.form-control  {
			font-size: 10px;
			height: 27px;
	}
	.input-sm  {
			font-size: 10px;
			height: 27px;
	}
	
	</style>

<div class="jumbotron" style="margin-top:50px;text-align:center;padding-top: 1px;padding-bottom: 10px;">
	<h2><i class="glyphicon glyphicon-list"></i> Studies</h2>
</div>


<div>
	<h3>Current list of studies integrated into the ReproGenomics Viewer</h3>
	An excel sheet is available in the <a href="#/download">Download section</a> describing in more details the corresponding studies.
	<table st-table="displayedCollection" st-safe-src="data_all" class="table">
			<thead>
				<tr>
					<th st-sort-default="true" st-sort="article">Article</th>
					<th st-sort="ome">Ome</th>
					<th st-sort="technology">Technology</th>
					<th st-sort="species">Species</th>
					<th st-sort="experimental_design">Experimental design</th>
					<th st-sort="biological_topics">Biological topics</th>
					<th st-sort="tissue_or_cell">Tissue/Cell</th>
					<th st-sort="sex">Sex</th>
					<th st-sort="developmental_stage">Developmental stage</th>
					<th st-sort="antibody">Antibody</th>
					<th st-sort="mutant">Mutant</th>
					<th st-sort="cell_sorted">Cell sorted</th>
					<th st-sort="keywords">Keywords</th>
				</tr>
				<tr>
						<th>
							<input st-search="article" placeholder="Article" class="input-sm form-control" type="search"/>
						</th>
						<th>
								<select st-search="ome" class="form-control">
										<option value="">All</option>
										<option ng-repeat="row in ome" value="{{row}}">{{row}}</option>
								</select>
						</th>
						<th>
								<select st-search="technology" class="form-control">
										<option value="">All</option>
										<option ng-repeat="tech in alltech" value="{{tech}}">{{tech}}</option>
								</select>
						</th>
						<th>
								<select st-search="species" class="form-control">
										<option value="">All</option>
										<option ng-repeat="spe in allspe " value="{{spe}}">{{spe}}</option>
								</select>
						</th>
						<th>
								<select st-search="experimental_design" class="form-control">
										<option value="">All</option>
										<option ng-repeat="expd in experimentaldesign" value="{{expd}}">{{expd}}</option>
								</select>
						</th>
						<th>
								<select st-search="biological_topics" class="form-control">
										<option value="">All</option>
										<option ng-repeat="bio in biotop" value="{{bio}}">{{bio}}</option>
								</select>
						</th>
						<th>
								<select st-search="tissue_or_cell" class="form-control">
										<option value="">All</option>
										<option ng-repeat="tiss in tissues" value="{{tiss}}">{{tiss}}</option>
								</select>
						</th>
						<th>
								<select st-search="sex" class="form-control">
										<option value="">All</option>
										<option ng-repeat="s in sex" value="{{s}}">{{s}}</option>
								</select>
						</th>
						<th>
								<select st-search="developmental_stage" class="form-control">
										<option value="">All</option>
										<option ng-repeat="dev in stage" value="{{dev}}">{{dev}}</option>
								</select>
						</th>
						<th>
								<select st-search="antibody" class="form-control">
										<option value="">All</option>
										<option ng-repeat="anti in antibody" value="{{anti}}">{{anti}}</option>
								</select>
						</th>
						<th>
								<select st-search="mutant" class="form-control">
										<option value="">All</option>
										<option ng-repeat="mut in mutant" value="{{mut}}">{{mut}}</option>
								</select>
						</th>
						<th>
								<select st-search="cell_sorted" class="form-control">
										<option value="">All</option>
										<option ng-repeat="cell in cellsorted" value="{{cell}}">{{cell}}</option>
								</select>
						</th>
						<th>
								<select st-search="keywords" class="form-control">
										<option value="">All</option>
										<option ng-repeat="key in keywords" value="{{key}}">{{key}}</option>
								</select>
						</th>

				</tr>
			</thead>
			<tbody>
				<tr st-select-row="row" ng-repeat="row in displayedCollection" >
					<td><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{row.PubMedID}}" target="_blank">{{row.article}}</a></td>
					<td>{{row.ome}}</td>
					<td>{{row.technology}}</td>
					<td>{{replaceString(row.species)}}</td>
					<td>{{replaceString(row.experimental_design)}}</td>
					<td>{{replaceString(row.biological_topics)}}</td>
					<td>{{replaceString(row.tissue_or_cell)}}</td>
					<td>{{replaceString(row.sex)}}</td>
					<td>{{replaceString(row.developmental_stage)}}</td>
					<td>{{replaceString(row.antibody)}}</td>
					<td>{{replaceString(row.mutant)}}</td>
					<td>{{replaceString(row.cell_sorted)}}</td>
					<td>{{replaceString(row.keywords)}}</td>

				</tr>
			</tbody>
			<tbody ng-if="!displayedCollection">
					<tr>
						<td colspan="2">Loading ...</td>
					</tr>
				</tbody>
		</table>
	
</div>
