<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/dataTables.bootstrap.min.css">

<h2>TOXsIgN user documentation</h2>
<h4>Content</h4>
<ul>
  <li><a href="#/tutorials/overview">TOXsIgN organization overview</a></li>
  <li><a href="#/tutorials/register">Registering in TOXsIgN</a></li>
  <li><a href="#/tutorials/logging">Logging into TOXsIgN</a></li>
  <li><a href="#/tutorials/spreadsheet">How to fill the TOXsIgN spreadsheet</a></li>
  <li><a href="#/tutorials/upload">Upload signature or additionnal file</a></li>
  <li><a href="#/tutorials/update">Update project</a></li>
  <li><a href="#/tutorials/public">Making public</a></li>
</ul>





