<!DOCTYPE html>
<html lang="en" ng-app="rgv" class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="frederic chalmel" content="">
		<link rel="icon" href="">
		<title>RGV</title>

		<!-- Bootstrap core CSS -->
		<link href="styles/bootstrap.min.css" rel="stylesheet">

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="styles/ie10-viewport-bug-workaround.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="styles/navbar.css" rel="stylesheet">
		<link href="bower_components/vis/dist/vis.css" rel="stylesheet">
		<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.css"/>
		<link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.css"/>
		<link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">



		<link href="styles/rgv.css" rel="stylesheet">
		<style>
				.navbar-brand
			{
					padding-top: 0;
			}
		</style>

		<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
		<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
		<script src="scripts/ie-emulation-modes-warning.js"></script>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body ng-controller="appCtrl"
		<div class="container">
			<!-- Static navbar -->
			<nav class="navbar navbar-default navbar-fixed-top" ng-controller="userCtrl">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#/"><img src="images/rgvlogo.png" alt="The ReproGenomics Viewer" title="The ReproGenomics Viewer" width="100" style="padding:0px"></a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li><a href="#/studies"><i class="glyphicon glyphicon-list"></i> Studies</a></li>
							<!-- J'ai mis ng-if 1 car sinon les menus ne sont pas actifs -->
							<li ng-if="1" class="btn-group" dropdown is-open="status.isopen">
								<a type="button" dropdown-toggle ng-disabled="disabled">
									<i class="glyphicon glyphicon-wrench"></i> Browsing tools<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#/browser_genome" active-link="active"><i class="glyphicon glyphicon-indent-left"></i> Genome browser</a></li>
									<li class="divider"></li>
									<li><a href="#/browser_genelevel" active-link="active"><i class="glyphicon glyphicon-align-left"></i> Gene-level browser (under construction)</a></li>
									<li class="divider"></li>
									<li><a href="#/browser_scRNAseq" active-link="active"><i class="glyphicon glyphicon-cloud"></i> Single-cell browser (under construction)</a></li>
								</ul>
							</li>
							<li ng-if="1" class="btn-group" dropdown is-open="status.isopen">
								<a type="button" dropdown-toggle ng-disabled="disabled">
									<i class="glyphicon glyphicon-question-sign"></i> Help<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#/tutorial" active-link="active"><i class="glyphicon glyphicon-education"></i> Tutorial</a></li>
									<li class="divider"></li>
									<li><a href="#/technicalcorner" active-link="active"><i class="glyphicon glyphicon-wrench"></i> Technical corner</a></li>
									<li class="divider"></li>
									<li><a href="#/download" active-link="active"><i class="glyphicon glyphicon-download-alt"></i> Download</a></li>
								</ul>
							</li>
							<li ng-if="1" class="btn-group" dropdown is-open="status.isopen">
								<a type="button" dropdown-toggle ng-disabled="disabled">
									<i class="glyphicon glyphicon-info-sign"></i> About<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#/about" active-link="active"><i class="glyphicon glyphicon-flash"></i> About RGV</a></li>
									<li class="divider"></li>
									<li><a href="#/news" active-link="active"><i class="glyphicon glyphicon-bell"></i> News</a></li>
									<li><a href="#/statistics" active-link="active"><i class="glyphicon glyphicon-equalizer"></i> Statistics</a></li>
									<li class="divider"></li>
									<li><a href="#/funders" active-link="active"><i class="glyphicon glyphicon-king"></i> Institutions and funders</a></li>
									<li><a href="#/getinvolved" active-link="active"><i class="glyphicon glyphicon-link"></i> Get involved</a></li>
									<li class="divider"></li>
									<li><a href="#/resources" active-link="active"><i class="glyphicon glyphicon-thumbs-up"></i> Other resources</a></li>
									<li class="divider"></li>
									<li><a href="#/citing" active-link="active"><i class="glyphicon glyphicon-pencil"></i> Citing RGV</a></li>
									<li><a href="#/contact" active-link="active"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>
								</ul>
							</li>
						</ul>
						<!--<ul class="nav navbar-nav navbar-right">
							<li ng-if="! is_logged" class="btn-group" dropdown is-open="status.isopen">
								<a type="button" dropdown-toggle ng-disabled="disabled">
									<i class="glyphicon glyphicon-user"></i> User<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#/login" active-link="active"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
									<li class="divider"></li>
									<li><a href="#/signin" active-link="active"><i class="glyphicon glyphicon-registration-mark"></i> Sign up</a></li>
								</ul>
							</li>
							<li ng-if="is_logged" class="btn-group" dropdown is-open="status.isopen">
								<a type="button" dropdown-toggle ng-disabled="disabled">
									<i class="glyphicon glyphicon-user"></i> {{user.first_name}}<span class="caret"></span>
								</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#/user/{{user.id}}" active-link="active"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
									<li class="divider"></li>
									<li ng-if="is_logged && user.admin"><a href="#/admin" active-link="active"><i class="glyphicon glyphicon-dashboard"></i> Admin</a></li>
									<li class="divider"></li>
									<li><a href="" ng-click="logout()"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
								</ul>
							</li>
						</ul>-->
					</div><!--/.nav-collapse -->
				</div><!--/.container-fluid -->
			</nav>
		</div>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="container">
			<div ng-view></div>
		</div> <!-- /container -->

		<div class="container">
			<nav class="navbar navbar-inverse navbar-fixed-bottom">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#/" style="padding-top: 15px;">The ReproGenomics Viewer</a>
					</div>
					<p class="navbar-text">Copyright © 2017 GenOuest core facility - IRISA, All rights reserved</p>
				</div>
			</nav>
		</div>


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
		<script src="bower_components/ng-dialog/js/ngDialog.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-js-xlsx/angular-js-xlsx.js"></script>
		<script src="bower_components/ng-table-to-csv/dist/ng-table-to-csv.js"></script>
		<script src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
		<script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
		<script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script> <!-- for no html5 browsers support -->
		<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
		<script src="bower_components/angular-uuid/uuid.js"></script>
		<script src="bower_components/ng-table/dist/ng-table.js"></script>
		<script src="bower_components/d3/d3.min.js"></script>
		<script src="bower_components/vis/dist/vis.js"></script>
		<script src="bower_components/venn.js/venn.js"></script>
		<script src="bower_components/angular-venn/angular-venn.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="scripts/jquery.min.js"><\/script>')</script>
		<script src="scripts/bootstrap.min.js"></script>
		<script src="bower_components/handsontable/dist/handsontable.full.js"></script>
		<script src="bower_components/ngHandsontable/dist/ngHandsontable.js"></script>

		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="scripts/ie10-viewport-bug-workaround.js"></script>
		<script src="scripts/resources.js"></script>
		<script src="scripts/rgv.js"></script>
	</body>
</html>
